ext/bsa/v1/endpoints/unified/competitor_profile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/unified" xmlns="http://schemas.sportradar.com/sportsapi/v1/unified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/unified/venue.xsd" />
    <xs:include schemaLocation="../../includes/unified/jerseys.xsd" />
    <xs:include schemaLocation="../../includes/unified/player.xsd" />
    <xs:include schemaLocation="../../includes/unified/sport.xsd" />
    <xs:include schemaLocation="../../includes/unified/category.xsd" />
    <xs:include schemaLocation="../../includes/unified/team.xsd" />
    <xs:include schemaLocation="../../includes/unified/manager.xsd" />
    <xs:include schemaLocation="../../includes/unified/car.xsd" />
    <xs:include schemaLocation="../../includes/unified/race_driver_profile.xsd" />
    <xs:element name="competitor_profile" type="competitorProfileEndpoint" />
    <xs:complexType name="competitorProfileEndpoint">
        <xs:sequence>
            <xs:element type="teamExtended" name="competitor" minOccurs="1" maxOccurs="1" />
            <xs:element type="venue" name="venue" minOccurs="0" maxOccurs="1" />
            <xs:element type="jerseys" name="jerseys" minOccurs="0" maxOccurs="1" />
            <xs:element type="manager" name="manager" minOccurs="0" maxOccurs="1" />
            <xs:element type="players" name="players" minOccurs="0" maxOccurs="1" />
            <xs:element type="raceDriverProfile" name="race_driver_profile" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
    <xs:complexType name="players">
        <xs:sequence>
            <xs:element type="playerExtended" name="player" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="raceDriverProfile">
        <xs:all minOccurs="0">
            <xs:element name="race_driver" type="raceDriver" minOccurs="1" maxOccurs="1" />
            <xs:element name="car" type="car" minOccurs="0" maxOccurs="1" />
            <xs:element name="race_team" type="raceTeam" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
</xs:schema>