ext/bsa/v1/endpoints/unified/result_changes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  targetNamespace="http://schemas.sportradar.com/sportsapi/v1/unified"
  xmlns="http://schemas.sportradar.com/sportsapi/v1/unified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../../includes/unified/urn.xsd"/>
  <xs:element name="result_changes" type="resultChangesEndpoint"/>
  <xs:complexType name="resultChangesEndpoint">
    <xs:sequence>
      <xs:element type="resultChange" name="result_change" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute type="xs:dateTime" name="generated_at"/>
  </xs:complexType>
  <xs:complexType name="resultChange">
    <xs:attribute type="unifiedSportEventUrn" name="sport_event_id" use="required"/>
    <xs:attribute type="xs:dateTime" name="update_time" use="required"/>
  </xs:complexType>
</xs:schema>