ext/bsa/v1/endpoints/unified/simpleteam_profile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/unified" xmlns="http://schemas.sportradar.com/sportsapi/v1/unified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/unified/team.xsd" />
    <xs:element name="simpleteam_profile" type="simpleTeamProfileEndpoint" />
    <xs:complexType name="simpleTeamProfileEndpoint">
        <xs:sequence>
            <xs:element type="team" name="competitor" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
</xs:schema>