ext/bsa/v1/endpoints/unified/venue_summary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/unified" xmlns="http://schemas.sportradar.com/sportsapi/v1/unified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/unified/venue.xsd" />
    <xs:include schemaLocation="../../includes/unified/sport.xsd" />
    <xs:include schemaLocation="../../includes/unified/category.xsd" />
    <xs:include schemaLocation="../../includes/unified/team.xsd" />
    <xs:element name="venue_summary" type="venueSummaryEndpoint" />
    <xs:complexType name="venueSummaryEndpoint">
        <xs:sequence>
            <xs:element type="venue" name="venue" />
            <xs:element type="homeTeams" name="home_teams" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at" use="required"/>
    </xs:complexType>
    <xs:complexType name="homeTeams">
        <xs:sequence>
            <xs:element type="teamExtended" name="competitor" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>