ext/bsa/v1/includes/common/car.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="car">
        <xs:attribute name="name" type="xs:string" use="optional" />
        <xs:attribute name="chassis" type="xs:string" use="optional" />
        <xs:attribute name="engine_name" type="xs:string" use="optional" />
    </xs:complexType>
</xs:schema>