ext/bsa/v1/includes/common/competitor.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:include schemaLocation="./team.xsd"/>
        <xs:complexType name="competitorsType">
            <xs:sequence>
                <xs:element name="competitor" type="team" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
        <xs:complexType name="competitorsExtended">
            <xs:sequence>
                <xs:element name="competitor" type="teamExtended" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
</xs:schema>