ext/bsa/v1/includes/common/deleted_sport_event.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="urn.xsd" />
    <xs:complexType name="scheduleDeletedSportEventsEndpoint">
        <xs:sequence>
            <xs:element type="deletedSportEvents" name="sport_events" maxOccurs="unbounded" minOccurs="1" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
    <xs:complexType name="deletedSportEvents">
        <xs:sequence>
            <xs:element type="deletedSportEvent" name="sport_event" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="deletedSportEvent">
        <xs:attribute type="sportEventUrn" name="id" />
    </xs:complexType>
</xs:schema>