ext/bsa/v1/includes/common/period_scores.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="commonPeriodScore">
        <xs:complexContent>
            <xs:extension base="periodScoreBase">
                <xs:attribute type="xs:int" name="home_score" use="required"/>
                <xs:attribute type="xs:int" name="away_score" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="commonPeriodScores">
        <xs:sequence>
            <xs:element type="commonPeriodScore" name="period_score" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>