ext/bsa/v1/includes/common/referee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="urn.xsd" />
    <xs:complexType name="referee">
        <xs:attribute type="xs:string" name="type" use="optional"/>
        <xs:attribute type="refereeUrn" name="id" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="nationality" use="optional"/>
        <xs:attribute type="countryCode" name="country_code" use="optional"/>
    </xs:complexType>
</xs:schema>