ext/bsa/v1/includes/common/season_extended.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="./season.xsd"/>
    <xs:include schemaLocation="./sport.xsd"/>
    <xs:include schemaLocation="./category.xsd"/>
    <xs:include schemaLocation="competition.xsd"/>

    <xs:complexType name="seasonExtendedType">
        <xs:complexContent>
            <xs:extension base="seasonExtended">
                <xs:sequence>
                    <xs:element name="sport" type="sport"/>
                    <xs:element name="category" type="category"/>
                    <xs:element name="competition" type="competitionType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>