ext/bsa/v1/includes/common/season_stage_group.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="competitor.xsd"/>
    <xs:include schemaLocation="urn.xsd"/>
    <xs:complexType name="groupType">
        <xs:sequence>
            <xs:element name="competitors" type="competitorsType"/>
        </xs:sequence>
        <xs:attribute name="id" type="groupUrn" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="max_rounds" type="xs:int" use="optional"/>
    </xs:complexType>
    <xs:complexType name="groupsType">
        <xs:sequence>
            <xs:element name="group" type="groupType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>