ext/bsa/v1/includes/common/sport_event_context_stage.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="sportEventContextStageType">
        <xs:attribute name="type" type="seasonStageType"/>
        <xs:attribute name="level" type="seasonStageLevelType"/>
        <xs:attribute name="round" type="xs:string"/>
        <xs:attribute name="number" type="xs:int"/>
    </xs:complexType>
    <xs:simpleType name="seasonStageType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="league"/>
            <xs:enumeration value="cup"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="seasonStageLevelType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="qualification"/>
            <xs:enumeration value="qualification_playoff"/>
            <xs:enumeration value="stage_1"/>
            <xs:enumeration value="placement_matches"/>
            <xs:enumeration value="stage_1_playoff"/>
            <xs:enumeration value="stage_2"/>
            <xs:enumeration value="stage_2_placement_matches"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
