ext/bsa/v1/includes/common/sport_event.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="urn.xsd" />
    <xs:include schemaLocation="tournament.xsd" />
    <xs:include schemaLocation="team.xsd" />
    <xs:include schemaLocation="season.xsd" />
    <xs:include schemaLocation="match_round.xsd" />
    <xs:include schemaLocation="venue.xsd" />
    <xs:complexType name="sportEvent">
        <xs:sequence>
            <xs:element type="matchRound" name="tournament_round" minOccurs="0" />
            <xs:element type="seasonExtended" name="season" minOccurs="0"  />
            <xs:element type="tournament" name="tournament" />
            <xs:element type="sportEventCompetitors" name="competitors" />
            <xs:element type="venue" name="venue" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="matchUrn" name="id" use="required"/>
        <xs:attribute type="xs:dateTime" name="scheduled"/>
        <xs:attribute type="xs:boolean" name="start_time_tbd" use="required" />
        <xs:attribute type="matchUrn" name="replaced_by" use="optional" />
        <xs:attribute type="xs:string" name="status" use="optional" />
    </xs:complexType>
    <xs:complexType name="sportEventCompetitors">
        <xs:sequence>
            <xs:element type="teamCompetitor" name="team" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
