ext/bsa/v1/includes/common/sport_event_context_group.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="urn.xsd" />
    <xs:complexType name="sportEventContextGroupType">
        <xs:attribute name="id" type="groupUrn"/>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
</xs:schema>
