ext/bsa/v1/includes/common/stream.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="stream">
        <xs:attribute name="url" type="xs:string" use="required" />
        <xs:attribute name="type" type="streamType" use="optional" />
    </xs:complexType>
    <xs:simpleType name="streamType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="livestream" />
            <xs:enumeration value="vod" />
            <xs:enumeration value="channel" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
