ext/bsa/v1/includes/common/tournament_coverages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="tournamentCoverageInfo">
        <xs:sequence>
            <xs:element type="coverageType" name="type" minOccurs="1" maxOccurs="2" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="coverageType">
        <xs:sequence>
            <xs:element type="coverageLevel" name="level" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="abbreviation" use="required"/>
    </xs:complexType>
    <xs:complexType name="coverageLevel">
        <xs:sequence>
            <xs:element type="coverageIncludes" name="coverage" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="abbreviation" use="required"/>
        <xs:attribute type="xs:string" name="tournament_name" use="required"/>
    </xs:complexType>
    <xs:complexType name="coverageIncludes">
        <xs:attribute type="xs:string" name="includes" use="required"/>
    </xs:complexType>
</xs:schema>
