ext/bsa/v1/includes/common/venue.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="urn.xsd"/>
    <xs:complexType name="venue">
        <xs:attribute type="venueUrn" name="id" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:int" name="capacity" use="optional"/>
        <xs:attribute type="xs:string" name="city_name" use="optional"/>
        <xs:attribute type="xs:string" name="state" use="optional"/>
        <xs:attribute type="xs:string" name="country_name" use="optional"/>
        <xs:attribute type="countryCode" name="country_code" use="optional" />
        <xs:attribute type="xs:string" name="map_coordinates" use="optional"/>
    </xs:complexType>
</xs:schema>