ext/bsa/v1/includes/tennis/category.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common/urn.xsd" />
    <xs:complexType name="tennisCategory">
        <xs:attribute type="categoryUrn" name="id" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="countryCode" name="country_code" use="optional" />
        <xs:attribute type="xs:string" name="level" use="optional" />
    </xs:complexType>
</xs:schema>