ext/bsa/v1/includes/tennis/child_sport_event.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common/urn.xsd" />
    <xs:include schemaLocation="../common/team.xsd" />
    <xs:complexType name="tennisChildSportEvent">
        <xs:sequence>
            <xs:element type="sportEventCompetitors" name="competitors" />
        </xs:sequence>
        <xs:attribute type="matchUrn" name="id"/>
        <xs:attribute type="xs:dateTime" name="scheduled"/>
    </xs:complexType>
</xs:schema>
