ext/bsa/v1/includes/tennis/coverage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="coverageInfo">
        <xs:attribute type="xs:boolean" name="live_coverage" use="required"/>
        <xs:attribute type="xs:boolean" name="play_by_play" use="required"/>
        <xs:attribute type="xs:boolean" name="detailed_serve_outcomes" use="required"/>
    </xs:complexType>
</xs:schema>
