ext/bsa/v1/includes/tennis/double_team.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common/urn.xsd" />
    <xs:include schemaLocation="player.xsd" />
    <xs:complexType name="doubleTeam">
        <xs:attribute type="competitorUrn" name="id" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="abbreviation" use="optional"/>
    </xs:complexType>
    <xs:complexType name="doubleTeamRanking">
        <xs:sequence>
            <xs:element name="ranking" minOccurs="0" maxOccurs="2">
                <xs:complexType>
                    <xs:attribute type="xs:int" name="rank"/>
                    <xs:attribute type="xs:int" name="points" />
                    <xs:attribute type="xs:string" name="tour" />
                    <xs:attribute type="xs:string" name="name" />
                    <xs:attribute type="competitorUrn" name="id" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="doubleTeamExtended">
        <xs:complexContent>
            <xs:extension base="doubleTeam" >
                <xs:sequence>
                    <xs:element type="tennisPlayer" name="player" minOccurs="0" maxOccurs="2" />
                </xs:sequence>
                <xs:attribute type="xs:string" name="nationality" use="optional" />
                <xs:attribute type="countryCode" name="country_code" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>