ext/bsa/v1/includes/tennis/sport_event.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common/urn.xsd" />
    <xs:include schemaLocation="tournament.xsd" />
    <xs:include schemaLocation="team.xsd" />
    <xs:include schemaLocation="../common/season.xsd" />
    <xs:include schemaLocation="../common/match_round.xsd" />
    <xs:include schemaLocation="../common/venue.xsd" />
    <xs:complexType name="sportEvent">
        <xs:sequence>
            <xs:element type="matchRound" name="tournament_round" minOccurs="0" />
            <xs:element type="seasonExtended" name="season" minOccurs="0"  />
            <xs:element type="tournament" name="tournament" />
            <xs:element type="sportEventCompetitors" name="competitors" />
            <xs:element type="venue" name="venue" minOccurs="0" maxOccurs="1" />
            <xs:element type="children" name="children" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="matchUrn" name="id"/>
        <xs:attribute type="xs:dateTime" name="scheduled"/>
        <xs:attribute type="xs:boolean" name="start_time_tbd" use="required" />
        <xs:attribute type="matchUrn" name="replaced_by" use="optional" />
        <xs:attribute type="matchUrn" name="parent_id" use="optional" />
        <xs:attribute type="xs:string" name="type" use="optional" />
        <xs:attribute type="xs:string" name="status" use="optional" />
        <xs:attribute type="xs:string" name="tournament_type" use="optional" />
        <xs:attribute type="xs:string" name="gender" use="optional" />
        <xs:attribute type="xs:dateTime" name="resumed" use="optional"/>
        <xs:attribute type="xs:boolean" name="estimated" use="required" />
    </xs:complexType>
    <xs:complexType name="sportEventCompetitors">
        <xs:sequence>
            <xs:element type="playerCompetitor" name="player" maxOccurs="2" minOccurs="0" />
            <xs:element type="doubleTeamCompetitor" name="double_team" maxOccurs="2" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="children">
        <xs:sequence>
            <xs:element type="childSportEvent" name="sport_event" maxOccurs="5" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="childSportEvent">
        <xs:sequence>
            <xs:element type="sportEventCompetitors" name="competitors" maxOccurs="2" />
        </xs:sequence>
        <xs:attribute type="matchUrn" name="id"/>
        <xs:attribute type="xs:dateTime" name="scheduled"/>
        <xs:attribute type="xs:boolean" name="start_time_tbd" use="required" />
        <xs:attribute type="xs:string" name="status" use="optional" />
        <xs:attribute type="xs:boolean" name="estimated" use="required" />
    </xs:complexType>
    <xs:complexType name="nextMeetings">
        <xs:sequence>
            <xs:element type="sportEvent" name="sport_event" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="schedule">
        <xs:sequence>
            <xs:element type="sportEvent" name="sport_event" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
