ext/bsa/v1/endpoints/aussierules/competitor_profile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/aussierules" xmlns="http://schemas.sportradar.com/sportsapi/v1/aussierules" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/common/venue.xsd" />
    <xs:include schemaLocation="../../includes/common/season.xsd" />
    <xs:include schemaLocation="../../includes/aussierules/competitor.xsd" />
    <xs:include schemaLocation="../../includes/aussierules/player.xsd" />
    <xs:element name="competitor_profile" type="competitorProfileEndpoint" />
    <xs:complexType name="competitorProfileEndpoint">
        <xs:sequence>
            <xs:element type="aussieRulesTeamExtended" name="competitor" minOccurs="1" />
            <xs:element type="venue" name="venue" minOccurs="0" />
            <xs:element type="aussieRulesPlayers" name="players" minOccurs="0" />
            <xs:element type="teamProfileStatistics" name="statistics" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
    <xs:complexType name="teamProfileStatistics">
        <xs:sequence>
            <xs:element name="seasons" type="teamProfileSeasons" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="teamProfileSeasons">
        <xs:sequence>
            <xs:element name="season" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="statistics" type="teamSeasonStatistics" />
                        <xs:element name="form" type="form" minOccurs="0" />
                    </xs:sequence>
                    <xs:attribute name="id" type="seasonUrn" use="required" />
                    <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="form">
        <xs:attribute name="total" type="xs:string" />
        <xs:attribute name="away" type="xs:string" />
        <xs:attribute name="home" type="xs:string" />
    </xs:complexType>
    <xs:complexType name="teamSeasonStatistics">
        <xs:attribute type="xs:int" name="matches_played" use="required"/>
        <xs:attribute type="xs:int" name="matches_won" use="required"/>
        <xs:attribute type="xs:int" name="matches_drawn" use="required"/>
        <xs:attribute type="xs:int" name="matches_lost" use="required"/>
        <xs:attribute type="xs:int" name="points_for" use="required"/>
        <xs:attribute type="xs:int" name="points_against" use="required"/>
        <xs:attribute type="xs:int" name="points_percentage" use="required" />
        <xs:attribute type="xs:int" name="group_position" use="required" />
        <xs:attribute type="xs:int" name="behinds" use="required" />
        <xs:attribute type="xs:int" name="goals" use="required" />
        <xs:attribute type="xs:int" name="marks" use="required" />
        <xs:attribute type="xs:int" name="marks_inside_50s" use="required" />
        <xs:attribute type="xs:int" name="free_kicks" use="required" />
        <xs:attribute type="xs:int" name="tackles" use="required" />
        <xs:attribute type="xs:int" name="kicks" use="required" />
        <xs:attribute type="xs:int" name="handballs" use="required" />
        <xs:attribute type="xs:int" name="hitouts" use="required" />
        <xs:attribute type="xs:int" name="frees_for" use="required" />
        <xs:attribute type="xs:int" name="frees_against" use="required" />
    </xs:complexType>
    <xs:complexType name="aussieRulesPlayers">
        <xs:sequence>
            <xs:element type="aussieRulesPlayerExtended" name="player" maxOccurs="unbounded" minOccurs="1" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>