ext/bsa/v1/includes/soccer/sport_event_conditions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common/weather_info.xsd" />
    <xs:include schemaLocation="../common/venue.xsd" />
    <xs:include schemaLocation="../common/referee.xsd" />
    <xs:complexType name="sportEventConditions">
        <xs:sequence>
            <xs:element type="referee" name="referee" minOccurs="0" maxOccurs="1"/>
            <xs:element type="refereeAssistantsType" name="referee_assistants" minOccurs="0" maxOccurs="1"/>
            <xs:element type="venue" name="venue" minOccurs="0" maxOccurs="1" />
            <xs:element type="weatherInfo" minOccurs="0" name="weather_info"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="attendance" use="optional"/>
        <xs:attribute type="xs:string" name="match_mode" use="optional"/>
    </xs:complexType>
    <xs:complexType name="refereeAssistantsType">
        <xs:sequence>
            <xs:element type="referee" name="referee_assistant" minOccurs="0" maxOccurs="4"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>