ext/bsa/v1/endpoints/basic/competitor_versus_matches.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/basic" xmlns="http://schemas.sportradar.com/sportsapi/v1/basic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/basic/sport_event.xsd" />
    <xs:include schemaLocation="../../includes/common/team.xsd"/>
    <xs:include schemaLocation="../../includes/basic/result.xsd" />
    <xs:element name="competitor_versus_matches" type="competitorVersusMatchesEndpoint" />
    <xs:complexType name="competitorVersusMatchesEndpoint">
        <xs:sequence>
            <xs:element type="competitors" name="competitors" />
            <xs:element type="lastMeetings" name="last_meetings" minOccurs="0" maxOccurs="5" />
            <xs:element type="nextMeetings" name="next_meetings" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
    <xs:complexType name="competitors">
        <xs:sequence>
            <xs:element type="teamExtended" name="competitor" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="lastMeetings">
        <xs:sequence>
            <xs:element type="result" name="result" maxOccurs="5" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="nextMeetings">
        <xs:sequence>
            <xs:element type="sportEvent" name="sport_event" maxOccurs="5" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>