ext/bsa/v1/endpoints/basic/fixtures_fixture.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/basic" xmlns="http://schemas.sportradar.com/sportsapi/v1/basic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/common/urn.xsd" />
    <xs:include schemaLocation="../../includes/common/tournament.xsd" />
    <xs:include schemaLocation="../../includes/basic/sport_event.xsd" />
    <xs:include schemaLocation="../../includes/common/season.xsd" />
    <xs:include schemaLocation="../../includes/common/match_round.xsd" />
    <xs:include schemaLocation="../../includes/common/team.xsd" />
    <xs:include schemaLocation="../../includes/common/venue.xsd" />
    <xs:include schemaLocation="../../includes/common/coverage.xsd" />
    <xs:element name="fixtures_fixture" type="fixturesEndpoint" />
    <xs:complexType name="fixturesEndpoint">
        <xs:sequence>
            <xs:element type="fixture" name="fixture" minOccurs="1" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
    <xs:complexType name="fixture">
        <xs:sequence>
            <xs:element type="matchRound" name="tournament_round" minOccurs="0" />
            <xs:element type="season" name="season" minOccurs="0"  />
            <xs:element type="tournament" name="tournament" />
            <xs:element type="sportEventCompetitors" name="competitors" />
            <xs:element type="venue" name="venue" minOccurs="0" />
            <xs:element type="delayedInfo" name="delayed_info" minOccurs="0" />
            <xs:element type="tvChannels" name="tv_channels" minOccurs="0" />
            <xs:element type="extraInfo" name="extra_info" minOccurs="0" />
            <xs:element type="coverageInfo" name="coverage_info" minOccurs="0" />
            <xs:element type="productInfo" name="product_info" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="matchUrn" name="id" use="required"/>
        <xs:attribute type="xs:dateTime" name="scheduled" use="optional"/>
        <xs:attribute type="xs:dateTime" name="start_time" use="required"/>
        <xs:attribute type="xs:boolean" name="start_time_confirmed" use="required"/>
        <xs:attribute type="xs:dateTime" name="next_live_time" use="optional"/>
    </xs:complexType>
    <xs:complexType name="fixtureCompetitors">
        <xs:sequence>
            <xs:element type="teamCompetitor" name="competitor" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="delayedInfo">
        <xs:attribute type="xs:int" name="id" use="required"/>
        <xs:attribute type="xs:string" name="description" use="optional"/>
    </xs:complexType>
    <xs:complexType name="tvChannels">
        <xs:sequence>
            <xs:element type="tvChannel" name="tv_channel" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tvChannel">
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:dateTime" name="start_time" use="optional"/>
    </xs:complexType>
    <xs:complexType name="extraInfo">
        <xs:sequence>
            <xs:element type="info" name="info" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="info">
        <xs:attribute type="xs:string" name="key" use="required"/>
        <xs:attribute type="xs:string" name="value" use="required"/>
    </xs:complexType>
    <xs:complexType name="productInfo">
        <xs:sequence>
            <xs:element type="streamingChannels" name="streaming" maxOccurs="1" minOccurs="0" />
            <xs:element name="is_in_live_score" minOccurs="0"/>
            <xs:element name="is_in_hosted_statistics" minOccurs="0"/>
            <xs:element name="is_in_live_center_soccer" minOccurs="0"/>
            <xs:element name="is_auto_traded" minOccurs="0"/>
            <xs:element type="productInfoLinks" name="links" maxOccurs="1" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="streamingChannels">
        <xs:sequence>
            <xs:element type="streamingChannel" name="channel" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="streamingChannel">
        <xs:attribute type="xs:int" name="id" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
    </xs:complexType>
    <xs:complexType name="productInfoLinks">
        <xs:sequence>
            <xs:element type="productInfoLink" name="link" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="productInfoLink">
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="ref" use="required"/>
    </xs:complexType>
</xs:schema>