ext/bsa/v1/endpoints/basic/player_profile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/basic" xmlns="http://schemas.sportradar.com/sportsapi/v1/basic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/common/player.xsd" />
    <xs:element name="player_profile" type="playerProfileEndpoint" />
    <xs:complexType name="playerProfileEndpoint">
        <xs:sequence>
            <xs:element type="playerExtended" name="player" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
</xs:schema>