ext/bsa/v1/endpoints/basic/sports.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/basic" xmlns="http://schemas.sportradar.com/sportsapi/v1/basic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../../includes/common/sport.xsd" />
  <xs:element name="sports" type="sportsEndpoint" />
  <xs:complexType name="sportsEndpoint">
    <xs:sequence>
      <xs:element type="sport" name="sport" maxOccurs="unbounded" minOccurs="0" />
    </xs:sequence>
    <xs:attribute type="xs:dateTime" name="generated_at"/>
  </xs:complexType>
</xs:schema>