ext/bsa/v1/endpoints/basic/sport_seasons.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/basic" xmlns="http://schemas.sportradar.com/sportsapi/v1/basic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/common/sport.xsd" />
    <xs:include schemaLocation="../../includes/common/season.xsd" />
    <xs:element name="sport_seasons" type="sportSeasonsEndpoint" />
    <xs:complexType name="seasons">
        <xs:sequence>
            <xs:element type="seasonExtended" name="season" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="sportSeasonsEndpoint">
        <xs:sequence>
            <xs:element type="sport" name="sport" />
            <xs:element type="seasons" name="seasons" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
</xs:schema>