ext/bsa/v1/endpoints/basic/tournament_schedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/basic" xmlns="http://schemas.sportradar.com/sportsapi/v1/basic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/basic/sport_event.xsd" />
    <xs:include schemaLocation="../../includes/common/tournament.xsd" />
    <xs:element name="tournament_schedule" type="tournamentScheduleEndpoint" />
    <xs:complexType name="tournamentScheduleEndpoint">
        <xs:sequence>
            <xs:element type="tournamentExtended" name="tournament" maxOccurs="unbounded" minOccurs="1" />
            <xs:element type="sportEvents" name="sport_events" maxOccurs="unbounded" minOccurs="1" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
    <xs:complexType name="sportEvents">
        <xs:sequence>
            <xs:element type="sportEvent" name="sport_event" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>