ext/bsa/v1/endpoints/standard/competitor_schedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/standard" xmlns="http://schemas.sportradar.com/sportsapi/v1/standard" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/common/team.xsd" />
    <xs:include schemaLocation="../../includes/standard/sport_event.xsd" />
    <xs:element name="competitor_schedule" type="competitorScheduleEndpoint" />
    <xs:complexType name="competitorScheduleEndpoint">
        <xs:sequence>
            <xs:element type="teamExtended" name="competitor" minOccurs="1" />
            <xs:element type="competitorSchedule" name="schedule" minOccurs="1" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
    <xs:complexType name="competitorSchedule">
        <xs:sequence>
            <xs:element type="sportEvent" name="sport_event" maxOccurs="unbounded" minOccurs="1" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>