ext/bsa/v1/endpoints/standard/tournaments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/standard" xmlns="http://schemas.sportradar.com/sportsapi/v1/standard" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/common/sport.xsd" />
    <xs:include schemaLocation="../../includes/common/category.xsd" />
    <xs:include schemaLocation="../../includes/common/tournament.xsd" />
    <xs:element name="tournaments" type="tournamentsEndpoint" />
    <xs:complexType name="tournamentsEndpoint">
        <xs:sequence>
            <xs:element type="tournamentExtended" name="tournament" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
</xs:schema>