ext/bsa/v1/endpoints/dota2/match_lineups.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/dota2" xmlns="http://schemas.sportradar.com/sportsapi/v1/dota2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/dota2/sport_event.xsd" />
    <xs:include schemaLocation="../../includes/common/player.xsd" />
    <xs:element name="match_lineups" type="matchLineupsEndpoint" />
    <xs:complexType name="matchLineupsEndpoint">
        <xs:sequence>
            <xs:element type="dota2SportEvent" name="sport_event" />
            <xs:element type="lineup" name="lineup" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
    <xs:complexType name="lineup">
        <xs:sequence>
            <xs:element type="playerLineup" name="player" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="team" use="required"/>
    </xs:complexType>
</xs:schema>
