ext/bsa/v1/endpoints/dota2/results.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/dota2" xmlns="http://schemas.sportradar.com/sportsapi/v1/dota2" xmlns:xs="http://www.w3.org/2001/XMLSchema">    <xs:include schemaLocation="../../includes/common/urn.xsd" />
    <xs:include schemaLocation="../../includes/dota2/result.xsd" />
    <xs:include schemaLocation="../../includes/common/sport_event_conditions.xsd" />
    <xs:include schemaLocation="../../includes/dota2/sport_event_status.xsd" />
    <xs:element name="results" type="resultsEndpoint" />
    <xs:complexType name="resultsEndpoint">
        <xs:sequence>
            <xs:element type="result" name="result" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
</xs:schema>