ext/bsa/v1/endpoints/rugby/season_summaries.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/rugby" xmlns="http://schemas.sportradar.com/sportsapi/v1/rugby" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/rugby/summary.xsd" />
    <xs:element name="season_summaries" type="seasonSummariesType" />
    <xs:complexType name="seasonSummariesType">
        <xs:sequence>
            <xs:element type="rugbySummaryType" name="summary" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
</xs:schema>