ext/bsa/v1/endpoints/handball/season_match_probabilities.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/handball" xmlns="http://schemas.sportradar.com/sportsapi/v1/handball" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="match_probabilities.xsd" />
    <xs:element name="season_match_probabilities" type="seasonMatchProbabilitiesEndpoint" />
    <xs:complexType name="seasonMatchProbabilitiesEndpoint">
        <xs:sequence>
            <xs:element name="match_probabilities" type="matchProbabilitiesEndpoint" maxOccurs="unbounded" minOccurs="1" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
</xs:schema>