ext/bsa/v1/includes/historicalnba/standings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common/urn.xsd"/>
    <xs:complexType name="standings">
        <xs:sequence>
            <xs:element type="tournamentStandingsGroup" name="group" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="type" use="required"/>
        <xs:attribute type="xs:string" name="tie_break_rule" use="optional" />
    </xs:complexType>
    <xs:complexType name="liveStandings">
        <xs:sequence>
            <xs:element type="tournamentLiveStandingsGroup" name="group" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="type" use="required"/>
    </xs:complexType>
    <xs:simpleType name="teamStandingGroupType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="conference" />
            <xs:enumeration value="division" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="tournamentStandingsGroup">
        <xs:sequence>
            <xs:element type="teamStanding" name="team_standing" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="group_name" use="optional"/>
        <xs:attribute type="xs:int" name="id" use="optional" />
        <xs:attribute type="xs:int" name="parent" use="optional" />
        <xs:attribute type="teamStandingGroupType" name="type" use="optional" />
    </xs:complexType>
    <xs:complexType name="tournamentLiveStandingsGroup">
        <xs:sequence>
            <xs:element type="teamLiveStanding" name="team_standing" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="group_name" use="optional"/>
        <xs:attribute type="xs:int" name="id" use="optional" />
        <xs:attribute type="xs:int" name="parent" use="optional" />
        <xs:attribute type="teamStandingGroupType" name="type" use="optional" />
    </xs:complexType>
    <xs:simpleType name="streak">
        <xs:restriction base="xs:string">
            <xs:pattern value="[WL][0-9]+" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="teamStanding">
        <xs:sequence>
            <xs:element type="tournamentStandingsTeam" name="team" />
        </xs:sequence>
        <xs:attribute type="xs:int" name="rank" use="required"/>
        <xs:attribute type="xs:string" name="current_outcome" use="optional"/>
        <xs:attribute type="xs:int" name="played" use="required"/>
        <xs:attribute type="xs:int" name="wins" use="required"/>
        <xs:attribute type="xs:int" name="losses" use="required"/>
        <xs:attribute type="xs:double" name="games_behind" use="optional"/>
        <xs:attribute type="xs:int" name="points_for" use="required"/>
        <xs:attribute type="xs:int" name="points_against" use="required"/>
        <xs:attribute type="xs:int" name="wins_conference" use="optional"/>
        <xs:attribute type="xs:int" name="losses_conference" use="optional"/>
        <xs:attribute type="xs:int" name="wins_division" use="optional"/>
        <xs:attribute type="xs:int" name="losses_division" use="optional"/>
        <xs:attribute type="streak" name="streak" use="optional"/>
    </xs:complexType>
    <xs:complexType name="tournamentStandingsTeam" mixed="true">
        <xs:attribute type="competitorUrn" name="id" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
    </xs:complexType>
    <xs:complexType name="teamLiveStanding">
        <xs:sequence>
            <xs:element type="tournamentStandingsTeam" name="team" />
        </xs:sequence>
        <xs:attribute type="xs:int" name="rank" use="required"/>
        <xs:attribute type="xs:int" name="played" use="required"/>
        <xs:attribute type="xs:int" name="wins" use="required"/>
        <xs:attribute type="xs:int" name="losses" use="required"/>
        <xs:attribute type="xs:int" name="points_for" use="required"/>
        <xs:attribute type="xs:int" name="points_against" use="required"/>
    </xs:complexType>
</xs:schema>