ext/bsa/v1/endpoints/csgo/game_assets.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/csgo" xmlns="http://schemas.sportradar.com/sportsapi/v1/csgo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="game_assets" type="gameAssetsEndpoint" />
    <xs:complexType name="gameAssetsEndpoint">
        <xs:sequence>
            <xs:element type="gameAssets" name="game_assets" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
    <xs:complexType name="gameAssets">
        <xs:sequence>
            <xs:element type="gameAsset" name="game_asset" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="gameAsset">
        <xs:attribute name="id" type="xs:int" use="required" />
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="type_id" type="xs:int" use="required" />
        <xs:attribute name="external_id" type="xs:string" use="required" />
        <xs:attribute name="cost" type="xs:int" use="required" />
        <xs:attribute name="reward" type="xs:int" use="required" />
        <xs:attribute name="active" type="xs:int" use="required" />
        <xs:attribute name="description" type="xs:string" use="required" />
        <xs:attribute name="sport_id" type="xs:int" use="required" />
    </xs:complexType>
</xs:schema>
