ext/bsa/v1/endpoints/csgo/players_list.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/csgo" xmlns="http://schemas.sportradar.com/sportsapi/v1/csgo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/common/player.xsd" />
    <xs:include schemaLocation="../../includes/common/sport.xsd" />
    <xs:element name="players_list" type="playerListEndpoint" />
    <xs:complexType name="playerListEndpoint">
        <xs:sequence>
            <xs:element type="sport" name="sport" minOccurs="0" maxOccurs="1" />
            <xs:element name="players" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="playerExtendedWithTeams" name="player" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
</xs:schema>