ext/bsa/v1/endpoints/csgo/team_last_results.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/csgo" xmlns="http://schemas.sportradar.com/sportsapi/v1/csgo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/common/team.xsd" />
    <xs:include schemaLocation="../../includes/csgo/result.xsd" />
    <xs:element name="team_last_results" type="teamLastResultsEndpoint" />
    <xs:complexType name="teamLastResultsEndpoint">
        <xs:sequence>
            <xs:element type="teamExtended" name="team" minOccurs="1" />
            <xs:element type="results" name="results" minOccurs="1" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
</xs:schema>