ext/custombet/v1/endpoints/AvailableSelections.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://schemas.sportradar.com/custombet/v1/endpoints"
  targetNamespace="http://schemas.sportradar.com/custombet/v1/endpoints"
  elementFormDefault="qualified">

  <xs:include schemaLocation="CommonTypes.xsd"/>

  <xs:element name="available_selections" type="AvailableSelectionsType">
    <xs:annotation>
      <xs:documentation>
        Root element holding possible market selections for a requested event
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="AvailableSelectionsType">
    <xs:sequence>
      <xs:element name="event" type="EventType"/>
    </xs:sequence>
    <xs:attribute name="generated_at" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Date and time when the response was generated by the server, in ISO format without an
          offset, such as 2011-12-03T10:15:30
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>

