ext/bsa/v1/endpoints/icehockey/tournament_team_statistics.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/icehockey" xmlns="http://schemas.sportradar.com/sportsapi/v1/icehockey" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/common/urn.xsd" />
    <xs:include schemaLocation="../../includes/common/sport.xsd" />
    <xs:include schemaLocation="../../includes/common/category.xsd" />
    <xs:include schemaLocation="../../includes/common/team.xsd" />
    <xs:include schemaLocation="../../includes/common/tournament.xsd" />
    <xs:element name="tournament_team_statistics" type="tournamentTeamStatisticsEndpoint" />
    <xs:complexType name="playersStatistics">
        <xs:sequence>
            <xs:element name="player" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="statistics" type="tournamentPlayerStatistics" />
                    </xs:sequence>
                    <xs:attribute name="id" type="playerUrn" use="required" />
                    <xs:attribute name="name" type="xs:string" use="required" />
                    <xs:attribute name="matches_played" type="xs:int" use="optional" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="period">
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:int" name="value" use="required"/>
    </xs:complexType>
    <xs:complexType name="tournamentTeamStatisticsEndpoint">
        <xs:sequence>
            <xs:element type="tournamentExtended" minOccurs="1" name="tournament" />
            <xs:element type="teamExtended" minOccurs="1" name="team" />
            <xs:element type="tournamentTeamStatistics" minOccurs="0" name="team_statistics" />
            <xs:element type="playersStatistics" minOccurs="0" name="player_statistics" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
    <xs:complexType name="tournamentTeamStatistics">
        <xs:attribute type="xs:int" name="matches_played"/>
        <xs:attribute type="xs:int" name="matches_won"/>
        <xs:attribute type="xs:int" name="matches_lost"/>
        <xs:attribute type="xs:string" name="form"/>
        <xs:attribute type="xs:int" name="goals"/>
        <xs:attribute type="xs:int" name="shots"/>
        <xs:attribute type="xs:int" name="number_of_penalties"/>
        <xs:attribute type="xs:int" name="penalty_minutes"/>
        <xs:attribute type="xs:int" name="goals_allowed"/>
        <xs:attribute type="xs:int" name="saves"/>
        <xs:attribute type="xs:double" name="save_percentage"/>
        <xs:attribute type="xs:int" name="shutouts"/>
        <xs:attribute type="xs:double" name="shooting_percentage"/>
        <xs:attribute type="xs:int" name="goalie_wins"/>
        <xs:attribute type="xs:int" name="goalie_losses"/>
        <xs:attribute type="xs:int" name="overtime_losses"/>
        <xs:attribute type="xs:double" name="goals_against_average"/>
    </xs:complexType>
    <xs:complexType name="tournamentPlayerStatistics">
        <xs:all>
            <xs:element type="datapoint" name="goals" maxOccurs="1" minOccurs="0" />
            <xs:element type="datapoint" name="assists" maxOccurs="1" minOccurs="0" />
            <xs:element type="datapoint" name="points" maxOccurs="1" minOccurs="0" />
            <xs:element type="datapoint" name="first_goals" maxOccurs="1" minOccurs="0" />
            <xs:element type="datapoint" name="last_goals" maxOccurs="1" minOccurs="0" />
            <xs:element type="datapoint" name="first_assists" maxOccurs="1" minOccurs="0" />
            <xs:element type="datapoint" name="second_assists" maxOccurs="1" minOccurs="0" />
            <xs:element type="datapoint" name="shots_on_target" maxOccurs="1" minOccurs="0" />
            <xs:element type="datapoint" name="penalties" maxOccurs="1" minOccurs="0" />
            <xs:element type="datapoint" name="penalty_minutes" maxOccurs="1" minOccurs="0" />
            <xs:element type="datapoint" name="plus_minus" maxOccurs="1" minOccurs="0" />
            <xs:element type="datapoint" name="saves" maxOccurs="1" minOccurs="0" />
            <xs:element type="datapoint" name="minutes_played" maxOccurs="1" minOccurs="0" />
            <xs:element type="datapoint" name="goals_allowed" maxOccurs="1" minOccurs="0" />
            <xs:element type="datapoint" name="shutouts" maxOccurs="1" minOccurs="0" />
            <xs:element type="datapoint" name="goalie_wins" maxOccurs="1" minOccurs="0" />
            <xs:element type="datapoint" name="goalie_loss" maxOccurs="1" minOccurs="0" />
            <xs:element type="datapointAverage" name="goals_against_average" maxOccurs="1" minOccurs="0" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="datapoint">
        <xs:attribute type="xs:int" name="total" use="required"/>
    </xs:complexType>
    <xs:complexType name="datapointAverage">
        <xs:attribute type="xs:double" name="average" use="required"/>
    </xs:complexType>
</xs:schema>