ext/bsa/v1/includes/aussierules/competitor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common/urn.xsd"/>
    <xs:include schemaLocation="../common/category.xsd"/>
    <xs:include schemaLocation="../common/sport.xsd"/>
    <xs:complexType name="competitor">
        <xs:attribute type="competitorUrn" name="id" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="abbreviation" use="required"/>
        <xs:attribute type="xs:string" name="country" use="optional"/>
        <xs:attribute type="countryCode" name="country_code" use="optional" />
        <xs:attribute type="iocCountryCode" name="ioc_code" use="optional" />
        <xs:attribute type="xs:boolean" name="virtual" use="optional" />
        <xs:attribute type="xs:int" name="rotation_number" use="optional" />
        <xs:attribute type="xs:string" name="active" use="optional"/>
    </xs:complexType>
    <xs:complexType name="aussieRulesTeamExtended">
        <xs:complexContent>
            <xs:extension base="competitor" >
                <xs:sequence>
                    <xs:element type="sport" name="sport" minOccurs="0" />
                    <xs:element type="category" name="category" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="aussieRulesTeamsExtended">
        <xs:sequence>
            <xs:element type="aussieRulesTeamExtended" name="team" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="aussieRulesTeamCompetitor">
        <xs:complexContent>
            <xs:extension base="competitor" >
                <xs:attribute type="xs:string" name="qualifier" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>