ext/bsa/v1/includes/aussierules/sport_event_status.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common/sport_event_status.xsd" />
    <xs:include schemaLocation="period_scores.xsd" />
    <xs:complexType name="sportEventStatus">
        <xs:complexContent>
            <xs:extension base="sportEventStatusBase">
                <xs:attribute type="xs:int" name="home_score" use="optional"/>
                <xs:attribute type="xs:int" name="away_score" use="optional"/>
                <xs:attribute type="xs:string" name="home_display_score" use="optional"/>
                <xs:attribute type="xs:string" name="away_display_score" use="optional"/>
                <xs:attribute type="xs:string" name="next_period" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
