ext/bsa/v1/endpoints/basketball/player_profile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/basketball" xmlns="http://schemas.sportradar.com/sportsapi/v1/basketball" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/common/player.xsd" />
    <xs:element name="player_profile" type="playerProfileEndpoint" />
    <xs:complexType name="playerProfileEndpoint">
        <xs:sequence>
            <xs:element type="playerExtended" name="player" minOccurs="1" maxOccurs="1"/>
            <xs:element type="playerProfileTeams" name="teams" minOccurs="0" maxOccurs="1"/>
            <xs:element type="playerRoles" name="roles" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
    <xs:complexType name="playerProfileTeams">
        <xs:sequence>
            <xs:element type="team" name="team" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="playerRoles">
        <xs:sequence>
            <xs:element type="playerRole" name="role" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="playerRole">
        <xs:sequence>
            <xs:element type="team" name="team" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="type" use="required"/>
        <xs:attribute type="xs:string" name="active" use="required"/>
        <xs:attribute type="xs:date" name="start_date" use="optional"/>
        <xs:attribute type="xs:date" name="end_date" use="optional"/>
        <xs:attribute type="competitorUrn" name="team_id" use="optional"/>
        <xs:attribute type="xs:string" name="team_name" use="optional"/>
        <xs:attribute type="xs:int" name="jersey_number" use="optional"/>
    </xs:complexType>
</xs:schema>