ext/bsa/v1/includes/rugby/sport_event.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../rugby/sport_event_context.xsd" />
    <xs:include schemaLocation="../common/team.xsd" />
    <xs:include schemaLocation="../common/venue.xsd" />
    <xs:complexType name="rugbySportEvent">
        <xs:sequence>
            <xs:element type="sportEventContext" name="sport_event_context" />
            <xs:element type="sportEventCompetitors" name="competitors" />
            <xs:element type="venue" name="venue" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="matchUrn" name="id" use="required"/>
        <xs:attribute type="xs:dateTime" name="scheduled"/>
        <xs:attribute type="xs:boolean" name="start_time_tbd" use="required" />
        <xs:attribute type="matchUrn" name="replaced_by" use="optional" />
        <xs:attribute type="xs:string" name="status" use="optional" />
    </xs:complexType>
    <xs:complexType name="sportEventCompetitors">
        <xs:sequence>
            <xs:element type="teamCompetitor" name="competitor" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
