ext/bsa/v1/endpoints/cycling/team_profile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/cycling" xmlns="http://schemas.sportradar.com/sportsapi/v1/cycling" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/cycling/team.xsd" />
    <xs:include schemaLocation="../../includes/cycling/competitor.xsd" />
    <xs:element name="team_profile" type="teamProfileEndpoint" />
    <xs:complexType name="teamProfileEndpoint">
        <xs:sequence>
            <xs:element type="team" minOccurs="1" maxOccurs="1" name="team" />
            <xs:element type="competitors" minOccurs="1" maxOccurs="1" name="competitors" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
</xs:schema>