ext/bsa/v1/endpoints/cycling/tournament_schedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/cycling" xmlns="http://schemas.sportradar.com/sportsapi/v1/cycling" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/cycling/race.xsd" />
    <xs:element name="tournament_schedule" type="tournamentScheduleEndpoint" />
    <xs:complexType name="tournamentScheduleEndpoint">
        <xs:sequence>
            <xs:element type="race" name="race" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
</xs:schema>