ext/bsa/v1/includes/dota2/result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../dota2/sport_event.xsd" />
    <xs:include schemaLocation="sport_event_status.xsd" />
    <xs:complexType name="result">
        <xs:sequence>
            <xs:element type="dota2SportEvent" name="sport_event"/>
            <xs:element type="sportEventStatus" name="sport_event_status"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="results">
        <xs:sequence>
            <xs:element type="result" name="result" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>