ext/bsa/v1/includes/winterolympics/competitor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common/urn.xsd"/>
    <xs:include schemaLocation="../../includes/winterolympics/athlete.xsd"/>
    <xs:complexType name="competitor">
        <xs:sequence>
            <xs:element type="athlete" name="athlete" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <!-- In the records.xml we don't always have a competitor id -->
        <xs:attribute type="competitorUrn" name="id" use="optional"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="country_code" use="required"/>
        <xs:attribute type="xs:string" name="ioc_code" use="required"/>
        <xs:attribute type="xs:string" name="bib" use="optional"/>
        <xs:attribute type="xs:string" name="start_number" use="optional"/>
        <xs:attribute type="xs:string" name="team_name" use="optional"/>
    </xs:complexType>
    <xs:complexType name="competitors">
        <xs:sequence>
            <xs:element type="competitor" name="competitor" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>