ext/bsa/v1/includes/winterolympics/sport_event.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common/urn.xsd" />
    <xs:include schemaLocation="../winterolympics/tournament.xsd" />
    <xs:include schemaLocation="../common/team.xsd" />
    <xs:include schemaLocation="../common/season.xsd" />
    <xs:include schemaLocation="../common/match_round.xsd" />
    <xs:include schemaLocation="../common/venue.xsd" />
    <xs:include schemaLocation="../winterolympics/stage.xsd" />
    <xs:complexType name="sportEvent">
        <xs:sequence>
            <xs:element type="sportEventParent" name="parent" minOccurs="0" />
            <xs:element type="matchRound" name="tournament_round" minOccurs="0" />
            <xs:element type="seasonExtended" name="season" minOccurs="0"  />
            <xs:element type="tournament" name="tournament" />
            <xs:element type="stages" name="stages" minOccurs="0" />
            <xs:element type="sportEventCompetitors" name="competitors" minOccurs="0" />
            <xs:element type="venue" name="venue" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="matchOrStageUrn" name="id" use="optional"/>
        <xs:attribute type="xs:dateTime" name="scheduled"/>
        <xs:attribute type="xs:boolean" name="start_time_tbd" use="optional" />
        <xs:attribute type="xs:string" name="name" use="optional" />
        <xs:attribute type="xs:string" name="status" use="optional" />
        <xs:attribute type="xs:boolean" name="medal_event" use="optional" />
    </xs:complexType>
    <xs:complexType name="sportEventCompetitors">
        <xs:sequence>
            <xs:element type="teamCompetitor" name="competitor" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="sportEventParent">
        <xs:attribute type="stageUrn" name="id" use="optional" />
        <xs:attribute type="xs:string" name="name" use="optional" />
    </xs:complexType>

</xs:schema>
