ext/bsa/v1/includes/winterolympics/stage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common/urn.xsd"/>
    <xs:complexType name="stages">
        <xs:sequence>
            <xs:element type="stage" name="stage" maxOccurs="unbounded" minOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="stage">
        <xs:attribute type="stageUrn" name="id" use="required" />
        <xs:attribute type="xs:string" name="name" use="required" />
        <xs:attribute type="xs:dateTime" name="scheduled" use="optional" />
        <xs:attribute type="xs:boolean" name="medal_event" use="optional" />
        <xs:attribute type="xs:string" name="status" use="optional" />
    </xs:complexType>
</xs:schema>