ext/bsa/v1/includes/winterolympics/tournament.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common/urn.xsd"/>
    <xs:include schemaLocation="../common/sport.xsd" />
    <xs:include schemaLocation="../common/category.xsd" />
    <xs:include schemaLocation="../common/current_season.xsd" />
    <xs:include schemaLocation="../common/season.xsd" />
    <xs:include schemaLocation="../common/season_coverage_info.xsd" />
    <xs:complexType name="tournament">
        <xs:sequence>
            <xs:element type="sport" name="sport" />
            <xs:element type="category" name="category" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="tournamentUrn" name="id" use="optional"/>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="tournamentUrn" name="parent_id" use="optional" />
    </xs:complexType>
    <xs:complexType name="tournamentExtended">
        <xs:complexContent>
            <xs:extension base="tournament" >
                <xs:sequence>
                    <xs:element type="currentSeason" name="current_season" minOccurs="0" maxOccurs="1" />
                    <xs:element type="seasonCoverageInfo" name="season_coverage_info" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>