ext/bsa/v1/endpoints/cricket/match_lineups.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/cricket" xmlns="http://schemas.sportradar.com/sportsapi/v1/cricket" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/cricket/sport_event.xsd" />
    <xs:include schemaLocation="../../includes/cricket/player.xsd" />
    <xs:include schemaLocation="../../includes/common/manager.xsd" />
    <xs:element name="match_lineups" type="matchLineupsEndpoint" />
    <xs:complexType name="matchLineupsEndpoint">
        <xs:sequence>
            <xs:element type="sportEvent" name="sport_event" />
            <xs:element type="lineup" name="lineup" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
    <xs:complexType name="startingLineup">
        <xs:sequence>
            <xs:element type="cricketPlayerLineup" name="player" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="lineup">
        <xs:sequence>
            <xs:element type="manager" name="manager" maxOccurs="1" minOccurs="0" />
            <xs:element type="startingLineup" name="starting_lineup" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="team" use="required"/>
        <xs:attribute type="xs:string" name="formation" use="optional"/>
    </xs:complexType>
</xs:schema>