ext/bsa/v1/endpoints/cricket/match_timeline.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/cricket" xmlns="http://schemas.sportradar.com/sportsapi/v1/cricket" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/common/referee.xsd" />
    <xs:include schemaLocation="../../includes/cricket/venue.xsd" />
    <xs:include schemaLocation="../../includes/cricket/sport_event_conditions.xsd" />
    <xs:include schemaLocation="../../includes/cricket/sport_event.xsd" />
    <xs:include schemaLocation="../../includes/common/player.xsd" />
    <xs:include schemaLocation="../../includes/cricket/sport_event_status.xsd" />
    <xs:include schemaLocation="../../includes/cricket/event.xsd" />
    <xs:include schemaLocation="../../includes/cricket/match_notes.xsd" />
    <xs:include schemaLocation="../../includes/cricket/coverage.xsd" />
    <xs:include schemaLocation="../../includes/cricket/statistics.xsd" />
    <xs:element name="match_timeline" type="matchTimelineEndpoint" />
    <xs:complexType name="matchTimelineEndpoint">
        <xs:sequence>
            <xs:element type="sportEvent" name="sport_event"/>
            <xs:element type="venue" name="venue" minOccurs="0" maxOccurs="1"/>
            <xs:element type="sportEventConditions" name="sport_event_conditions"  minOccurs="0"/>
            <xs:element type="sportEventStatus" name="sport_event_status"/>
            <xs:element type="coverageInfo" name="coverage_info" minOccurs="0" />
            <xs:element type="timeline" name="timeline" minOccurs="0"/>
            <xs:element type="matchNotesType" name="match_notes" minOccurs="0"/>
            <xs:element type="matchStatistics" name="statistics" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
    <xs:complexType name="timeline">
        <xs:sequence>
            <xs:element type="timelineEvent" name="event" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>