ext/bsa/v1/endpoints/cricket/tournament_info.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://schemas.sportradar.com/sportsapi/v1/cricket"
           xmlns="http://schemas.sportradar.com/sportsapi/v1/cricket" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/common/urn.xsd"/>
    <xs:include schemaLocation="../../includes/cricket/tournament.xsd"/>
    <xs:include schemaLocation="../../includes/common/current_season.xsd"/>
    <xs:include schemaLocation="../../includes/common/match_round.xsd"/>
    <xs:include schemaLocation="../../includes/common/player.xsd"/>
    <xs:include schemaLocation="../../includes/common/team.xsd"/>
    <xs:element name="tournament_info" type="tournamentInfoEndpoint"/>
    <xs:complexType name="tournamentInfoEndpoint">
        <xs:sequence>
            <xs:element name="tournament" type="tournamentExtended" minOccurs="1" maxOccurs="1"/>
            <xs:element type="tournamentInfoGroups" minOccurs="1" name="groups" />
            <xs:element name="children" type="tournamentChildren" minOccurs="0"/>
            <xs:element name="tournament_round" type="matchRound" minOccurs="0" maxOccurs="1"/>
            <xs:element type="tournamentLiveCoverageInfo" minOccurs="0" name="coverage_info" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
    <xs:complexType name="tournamentLiveCoverageInfo">
        <xs:attribute type="xs:string" name="live_coverage"/>
    </xs:complexType>
    <xs:complexType name="tournamentInfoGroup">
        <xs:sequence>
            <xs:element type="team" name="team" maxOccurs="unbounded" minOccurs="1" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
    </xs:complexType>
    <xs:complexType name="tournamentInfoGroups">
        <xs:sequence>
            <xs:element type="tournamentInfoGroup" name="group" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tournamentChildren">
        <xs:sequence>
            <xs:element name="tournament" type="tournamentExtended" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>