ext/bsa/v1/includes/unified/stage/period_status.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../urn.xsd"/>
    <xs:complexType name="periodStatus">
        <xs:sequence>
            <xs:element name="competitor" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="value" type="xs:string"/>
                                <xs:attribute name="type" type="xs:string"/>
                                <xs:attribute name="specifiers" type="xs:string"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="id" type="unifiedCompetitorUrn" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="number" type="xs:int"/>
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="status" type="xs:string"/>
    </xs:complexType>
</xs:schema>
