ext/bsa/v1/endpoints/winterolympics/sport_event_results.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/winterolympics" xmlns="http://schemas.sportradar.com/sportsapi/v1/winterolympics" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/winterolympics/sport_event.xsd" />
    <xs:include schemaLocation="../../includes/winterolympics/competitor.xsd" />
    <xs:include schemaLocation="../../includes/winterolympics/result.xsd" />
    <xs:element name="sport_event_results" type="resultEndpoint" />
    <xs:complexType name="resultEndpoint">
        <xs:sequence>
            <xs:element type="sportEventResult" name="sport_event_result" maxOccurs="unbounded" minOccurs="1" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
<xs:complexType name="sportEventResult">
    <xs:sequence>
        <xs:element type="sportEvent" name="sport_event" maxOccurs="unbounded" minOccurs="1" />
        <xs:element type="sportEventStatusHockey" name="sport_event_status" maxOccurs="unbounded" minOccurs="0" />
        <xs:element type="results" name="results" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
</xs:complexType>
</xs:schema>