ext/bsa/v1/endpoints/winterolympics/sport_event_summary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/winterolympics" xmlns="http://schemas.sportradar.com/sportsapi/v1/winterolympics" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/winterolympics/sport_event.xsd" />
    <xs:include schemaLocation="../../includes/winterolympics/competitor.xsd" />
    <xs:include schemaLocation="../../includes/winterolympics/result.xsd" />
    <xs:include schemaLocation="../../includes/common/coverage_info.xsd" />
    <xs:element name="sport_event_summary" type="summaryEndpoint" />
    <xs:complexType name="summaryEndpoint">
        <xs:sequence>
            <xs:element type="sportEvent" name="sport_event" maxOccurs="1" minOccurs="1" />
            <xs:element type="competitors" name="competitors" maxOccurs="1" minOccurs="1" />
            <xs:element type="coverageInfo" name="coverage_info" maxOccurs="1" minOccurs="1"/>
            <xs:element type="results" name="results" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
</xs:schema>