ext/bsa/v1/endpoints/winterolympics/sport_event_lineups.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/winterolympics" xmlns="http://schemas.sportradar.com/sportsapi/v1/winterolympics" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/winterolympics/sport_event.xsd" />
    <xs:include schemaLocation="../../includes/winterolympics/sport_event_conditions.xsd" />
    <xs:include schemaLocation="../../includes/common/player.xsd" />
    <xs:include schemaLocation="../../includes/common/manager.xsd" />
    <xs:include schemaLocation="../../includes/common/jerseys.xsd" />
    <xs:element name="sport_event_lineups" type="sportEventLineupsEndpoint" />
    <xs:complexType name="sportEventLineupsEndpoint">
        <xs:sequence>
            <xs:element type="sportEvent" name="sport_event" />
            <xs:element type="olympicsIceHockeySportEventConditions" name="sport_event_conditions" minOccurs="0" maxOccurs="1" />
            <xs:element type="lineup" name="lineup" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
    <xs:complexType name="startingLineup">
        <xs:sequence>
            <xs:element type="playerLineup" name="player" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="lineup">
        <xs:sequence>
            <xs:element type="manager" name="manager" maxOccurs="1" minOccurs="0" />
            <xs:element type="jersey" name="jersey" maxOccurs="1" minOccurs="0" />
            <xs:element type="startingLineup" name="starting_lineup" minOccurs="0" />
            <xs:element type="substitutes" name="substitutes" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="team" use="required"/>
        <xs:attribute type="xs:string" name="formation" use="optional"/>
    </xs:complexType>
    <xs:complexType name="substitutes">
        <xs:sequence>
            <xs:element type="playerSubstitute" name="player" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>