ext/bsa/v1/includes/unified/course.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="urn.xsd"/>
  <xs:complexType name="course">
    <xs:sequence>
      <xs:element name="hole" type="hole" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="hole">
    <xs:attribute name="number" type="xs:int" use="required"/>
    <xs:attribute name="par" type="xs:int" use="required"/>
  </xs:complexType>
</xs:schema>