ext/bsa/v1/includes/unified/coverage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="coverageInfo">
        <xs:sequence>
            <xs:element type="coverage" name="coverage" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="level" use="required"/>
        <xs:attribute type="xs:boolean" name="live_coverage" use="required"/>
        <xs:attribute type="xs:string" name="covered_from" use="optional"/>
    </xs:complexType>
    <xs:complexType name="coverage">
        <xs:attribute type="xs:string" name="includes" use="required"/>
    </xs:complexType>
</xs:schema>
