ext/bsa/v1/includes/unified/player.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="urn.xsd" />
    <xs:include schemaLocation="team.xsd" />
    <xs:complexType name="player">
        <xs:attribute type="playerUrn" name="id" use="required"/>
        <xs:attribute type="xs:string" name="name" use="optional"/>
    </xs:complexType>
    <xs:simpleType name="birthDate">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="playerExtended">
        <xs:complexContent>
            <xs:extension base="player" >
                <xs:attribute type="xs:string" name="type" use="optional"/>
                <xs:attribute name="date_of_birth" use="optional" type="birthDate" />
                <xs:attribute type="xs:string" name="nationality" use="optional"/>
                <xs:attribute type="countryCode" name="country_code" use="optional" />
                <xs:attribute type="xs:int" name="height" use="optional"/>
                <xs:attribute type="xs:int" name="weight" use="optional"/>
                <xs:attribute type="xs:int" name="jersey_number" use="optional"/>
                <xs:attribute type="xs:string" name="full_name" use="optional"/>
                <xs:attribute type="xs:string" name="nickname" use="optional" />
                <xs:attribute type="xs:string" name="gender" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="playerTeams">
        <xs:sequence>
            <xs:element type="team" name="team" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="playerExtendedWithTeams">
        <xs:sequence>
            <xs:element name="teams" type="playerTeams" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute type="playerUrn" name="id" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="nickname" use="optional" />
        <xs:attribute type="xs:string" name="full_name" use="optional"/>
        <xs:attribute type="xs:string" name="type" use="optional"/>
        <xs:attribute name="date_of_birth" use="optional" type="birthDate" />
        <xs:attribute type="xs:string" name="nationality" use="optional"/>
        <xs:attribute type="xs:int" name="height" use="optional"/>
        <xs:attribute type="xs:int" name="weight" use="optional"/>
        <xs:attribute type="xs:int" name="jersey_number" use="optional"/>
        <xs:attribute type="xs:string" name="gender" use="optional"/>
    </xs:complexType>
    <xs:complexType name="playerLineup">
        <xs:complexContent>
            <xs:extension base="player" >
                <xs:attribute type="xs:string" name="type" use="required"/>
                <xs:attribute type="xs:string" name="position" use="optional"/>
                <xs:attribute type="xs:int" name="jersey_number" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="playerSubstitute">
        <xs:complexContent>
            <xs:extension base="player" >
                <xs:attribute type="xs:string" name="type" use="optional"/>
                <xs:attribute type="xs:int" name="jersey_number" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>