ext/bsa/v1/includes/unified/sport_event_conditions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="weather_info.xsd" />
    <xs:include schemaLocation="venue.xsd" />
    <xs:include schemaLocation="referee.xsd" />
    <xs:include schemaLocation="pitchers.xsd" />
    <xs:complexType name="sportEventConditions">
        <xs:sequence>
            <xs:element type="referee" name="referee" minOccurs="0" maxOccurs="1"/>
            <xs:element type="pitchers" name="pitchers" minOccurs="0" maxOccurs="1" />
            <xs:element type="pitcher_history" name="pitcherHistory" minOccurs="0" maxOccurs="1"/>
            <xs:element type="venue" name="venue" minOccurs="0" maxOccurs="1" />
            <xs:element type="weatherInfo" minOccurs="0" name="weather_info"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="attendance" use="optional"/>
        <xs:attribute type="xs:string" name="match_mode" use="optional"/>
    </xs:complexType>
</xs:schema>