ext/bsa/v1/includes/unified/tournament_ongoing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="urn.xsd"/>
    <xs:include schemaLocation="sport.xsd" />
    <xs:include schemaLocation="category.xsd" />
    <xs:include schemaLocation="season.xsd" />
    <xs:complexType name="tournament">
        <xs:sequence>
            <xs:element type="sport" name="sport" />
            <xs:element type="category" name="category" />
        </xs:sequence>
        <xs:attribute type="tournamentUrn" name="id" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
    </xs:complexType>
    <xs:complexType name="tournamentExtended">
        <xs:complexContent>
            <xs:extension base="tournament" >
                <xs:sequence>
                    <xs:element type="seasonExtended" name="season" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
</xs:schema>