ext/bsa/v1/includes/unified/tournament.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="urn.xsd"/>
    <xs:include schemaLocation="sport.xsd" />
    <xs:include schemaLocation="category.xsd" />
    <xs:include schemaLocation="current_season.xsd" />
    <xs:include schemaLocation="season.xsd" />
    <xs:include schemaLocation="season_coverage_info.xsd" />
    <xs:include schemaLocation="sport_event.xsd" />
    <xs:complexType name="tournament">
        <xs:sequence>
            <xs:element type="tournamentLength" name="tournament_length" minOccurs="0" />
            <xs:element type="sport" name="sport"/>
            <xs:element type="category" name="category" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="unifiedTournamentUrn" name="id" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:boolean" name="exhibition_games" use="optional"/>
        <xs:attribute type="xs:dateTime" name="scheduled" use="optional"/>
        <xs:attribute type="xs:dateTime" name="scheduled_end" use="optional"/>
    </xs:complexType>
    <xs:complexType name="tournamentLength">
        <xs:attribute type="xs:date" name="start_date" use="optional" />
        <xs:attribute type="xs:date" name="end_date" use="optional" />
    </xs:complexType>
    <xs:complexType name="tournamentExtended">
        <xs:complexContent>
            <xs:extension base="tournament" >
                <xs:sequence>
                    <xs:element type="currentSeason" name="current_season" minOccurs="0" maxOccurs="1" />
                    <xs:element type="seasonCoverageInfo" name="season_coverage_info" minOccurs="0" />
                    <xs:element type="competitors" name="competitors" minOccurs="0"/>
                 </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="competitors">
        <xs:sequence>
            <xs:element type="team" name="competitor" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>