ext/bsa/v1/includes/unified/weather_info.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="weatherInfo">
        <xs:attribute type="xs:int" name="temperature_celsius" use="optional" />
        <xs:attribute type="xs:string" name="wind" use="optional" />
        <xs:attribute type="xs:string" name="wind_advantage" use="optional" />
        <xs:attribute type="xs:string" name="pitch" use="optional" />
        <xs:attribute type="xs:string" name="weather_conditions" use="optional" />
    </xs:complexType>
</xs:schema>