ext/bsa/v1/includes/basketball/event.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common/player.xsd" />
    <xs:complexType name="basketballEvent">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element type="playerExtended" name="player" minOccurs="0" />
            <xs:element type="playerExtended" name="scorer" minOccurs="0" maxOccurs="1" />
            <xs:element type="playerExtended" name="assist" minOccurs="0" maxOccurs="1" />
        </xs:choice>
        <xs:attribute type="xs:int" name="id" use="required"/>
        <xs:attribute type="xs:string" name="type" use="required"/>
        <xs:attribute type="xs:dateTime" name="time" use="required"/>
        <xs:attribute type="xs:string" name="period_name" use="optional"/>
        <xs:attribute type="xs:int" name="match_time" use="optional"/>
        <xs:attribute type="xs:int" name="match_clock" use="optional"/>
        <xs:attribute type="xs:string" name="team" use="optional"/>
        <xs:attribute type="xs:int" name="x" use="optional"/>
        <xs:attribute type="xs:int" name="y" use="optional"/>
        <xs:attribute type="xs:double" name="home_score" use="optional"/>
        <xs:attribute type="xs:double" name="away_score" use="optional"/>
        <xs:attribute type="xs:string" name="period" use="optional"/>
        <xs:attribute type="xs:string" name="stoppage_time" use="optional"/>
        <xs:attribute type="xs:string" name="value" use="optional" />
        <xs:attribute type="xs:string" name="points" use="optional" />
    </xs:complexType>
</xs:schema>