ext/bsa/v1/includes/basketball/statistics.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/common/urn.xsd" />
    <xs:complexType name="matchStatistics">
        <xs:sequence>
            <xs:element name="teams" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="team" type="teamStatistics" minOccurs="0" maxOccurs="2" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="teamStatistics">
        <xs:sequence>
            <xs:element name="statistics" minOccurs="0">
                <xs:complexType>
                    <xs:attribute type="xs:int" name="ball_possession"/>
                    <xs:attribute type="xs:int" name="fouls"/>
                    <xs:attribute type="xs:int" name="shots_blocked"/>
                    <xs:attribute type="xs:int" name="misses"/>
                    <xs:attribute type="xs:int" name="assists"/>
                    <xs:attribute type="xs:int" name="steals"/>
                    <xs:attribute type="xs:int" name="free_throw_attempts_total"/>
                    <xs:attribute type="xs:int" name="free_throw_attempts_successful"/>
                    <xs:attribute type="xs:int" name="two_point_attempts_total"/>
                    <xs:attribute type="xs:int" name="two_point_attempts_successful"/>
                    <xs:attribute type="xs:int" name="three_point_attempts_total"/>
                    <xs:attribute type="xs:int" name="three_point_attempts_successful"/>
                    <xs:attribute type="xs:int" name="rebounds"/>
                    <xs:attribute type="xs:int" name="timeouts"/>
                    <xs:attribute type="xs:int" name="turnovers"/>
                    <xs:attribute type="xs:int" name="biggest_lead"/>
                    <xs:attribute type="xs:int" name="time_spent_in_lead"/>
                    <xs:attribute type="xs:int" name="team_leads"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="players" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="matchStatisticsPlayer" name="player" maxOccurs="15" minOccurs="0" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="competitorUrn" name="id" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="abbreviation" use="required"/>
        <xs:attribute type="xs:string" name="qualifier" use="required"/>
    </xs:complexType>
    <xs:complexType name="matchStatisticsPlayer">
        <xs:sequence>
            <xs:element type="playerStatistics" name="statistics" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="playerUrn" name="id" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
    </xs:complexType>
    <xs:complexType name="playerStatistics">
        <xs:attribute type="xs:int" name="points" use="optional"/>
        <xs:attribute type="xs:int" name="two_pointers" use="optional"/>
        <xs:attribute type="xs:int" name="two_pointers_attempts" use="optional"/>
        <xs:attribute type="xs:int" name="three_pointers" use="optional"/>
        <xs:attribute type="xs:int" name="three_pointers_attempts" use="optional"/>
        <xs:attribute type="xs:int" name="free_throws" use="optional"/>
        <xs:attribute type="xs:int" name="free_throws_attempts" use="optional"/>
        <xs:attribute type="xs:int" name="offensive_rebounds" use="optional"/>
        <xs:attribute type="xs:int" name="defensive_rebounds" use="optional"/>
        <xs:attribute type="xs:int" name="total_rebounds" use="optional"/>
        <xs:attribute type="xs:int" name="blocked_shots" use="optional"/>
        <xs:attribute type="xs:int" name="blocks_against" use="optional"/>
        <xs:attribute type="xs:int" name="turnovers" use="optional"/>
        <xs:attribute type="xs:int" name="personal_fouls" use="optional"/>
        <xs:attribute type="xs:int" name="fouls_on" use="optional"/>
        <xs:attribute type="xs:int" name="efficiency" use="optional"/>
        <xs:attribute type="xs:int" name="assists" use="optional"/>
    </xs:complexType>
</xs:schema>