ext/bsa/v1/includes/cricket/coverage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="coverageInfo">
        <xs:attribute type="xs:string" name="level" use="optional"/>
        <xs:attribute type="xs:boolean" name="live_coverage" use="optional"/>
    </xs:complexType>
</xs:schema>
