ext/bsa/v1/includes/cricket/match_notes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="matchNotesType">
        <xs:sequence>
            <xs:element type="noteType" name="note" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="noteType">
        <xs:attribute type="xs:string" name="text" use="required" />
    </xs:complexType>
</xs:schema>