ext/bsa/v1/endpoints/oddscomparison/categories.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/oddscomparison" xmlns="http://schemas.sportradar.com/sportsapi/v1/oddscomparison" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/oddscomparison/category.xsd" />
    <xs:element name="categories" type="categoriesEndpoint" />
    <xs:complexType name="categoriesEndpoint">
        <xs:sequence>
            <xs:element type="category" name="category" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
</xs:schema>