ext/bsa/v1/endpoints/oddscomparison/sport_schedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/oddscomparison" xmlns="http://schemas.sportradar.com/sportsapi/v1/oddscomparison" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/oddscomparison/sport_event.xsd" />
    <xs:include schemaLocation="../../includes/common/sport.xsd" />
    <xs:element name="sport_schedule" type="sportScheduleEndpoint" />
    <xs:complexType name="sportScheduleEndpoint">
        <xs:sequence>
            <xs:element type="sport" name="sport"/>
            <xs:element name="sport_events">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="sportEvent" name="sport_event" maxOccurs="unbounded" minOccurs="0" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
</xs:schema>