ext/bsa/v1/endpoints/oddscomparison/sport_categories.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/oddscomparison" xmlns="http://schemas.sportradar.com/sportsapi/v1/oddscomparison" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/common/sport.xsd" />
    <xs:include schemaLocation="../../includes/oddscomparison/category.xsd" />
    <xs:element name="sport_categories" type="sportCategoriesEndpoint" />
    <xs:complexType name="sportCategoriesEndpoint">
        <xs:sequence>
            <xs:element type="sport" name="sport" />
            <xs:element type="categories" name="categories" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
    <xs:complexType name="categories">
        <xs:sequence>
            <xs:element type="category" name="category" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>