ext/bsa/v1/endpoints/oddscomparison/sport_event_markets.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/oddscomparison" xmlns="http://schemas.sportradar.com/sportsapi/v1/oddscomparison" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/oddscomparison/sport_event.xsd" />
    <xs:element name="sport_event_markets" type="sportEventMarketsEndpoint" />
    <xs:complexType name="sportEventMarketsEndpoint">
        <xs:sequence>
            <xs:element type="sportEvent" name="sport_event" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
</xs:schema>