ext/bsa/v1/endpoints/tennis/double_team_profile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/tennis" xmlns="http://schemas.sportradar.com/sportsapi/v1/tennis" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/common/urn.xsd" />
    <xs:include schemaLocation="../../includes/common/sport.xsd" />
    <xs:include schemaLocation="../../includes/tennis/tournament.xsd" />
    <xs:include schemaLocation="../../includes/tennis/team.xsd" />
    <xs:include schemaLocation="../../includes/tennis/player.xsd" />
    <xs:include schemaLocation="../../includes/tennis/statistics.xsd" />
    <xs:include schemaLocation="../../includes/common/season.xsd" />
    <xs:include schemaLocation="../../includes/common/season_coverage_info.xsd"/>
    <xs:include schemaLocation="../../includes/tennis/ranking.xsd" />
    <xs:element name="double_team_profile" type="doubleTeamProfileEndpoint" />
    <xs:complexType name="doubleTeamProfileEndpoint">
        <xs:sequence>
            <xs:element type="doubleTeam" name="double_team" minOccurs="1"/>
            <xs:element type="rankingsExtended" name="rankings" minOccurs="0"/>
            <xs:element type="playerStatistics" name="statistics" minOccurs="0"/>
            <xs:element type="tournamentsPlayed" name="tournaments_played" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
</xs:schema>