ext/bsa/v1/endpoints/tennis/double_team_versus_matches.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/tennis" xmlns="http://schemas.sportradar.com/sportsapi/v1/tennis" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/tennis/sport_event.xsd" />
    <xs:include schemaLocation="../../includes/tennis/team.xsd"/>
    <xs:include schemaLocation="../../includes/tennis/result.xsd" />
    <xs:element name="double_team_versus_matches" type="doubleTeamVersusMatchesEndpoint" />
    <xs:complexType name="doubleTeamVersusMatchesEndpoint">
        <xs:sequence>
            <xs:element type="doubleTeamsExtended" name="double_teams" />
            <xs:element type="lastMeetings" name="last_meetings" minOccurs="0" maxOccurs="5" />
            <xs:element type="nextMeetings" name="next_meetings" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
</xs:schema>