ext/bsa/v1/endpoints/tennis/match_timeline.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/tennis" xmlns="http://schemas.sportradar.com/sportsapi/v1/tennis" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/common/sport_event_conditions.xsd" />
    <xs:include schemaLocation="../../includes/tennis/sport_event.xsd" />
    <xs:include schemaLocation="../../includes/tennis/sport_event_status.xsd" />
    <xs:include schemaLocation="../../includes/common/event.xsd" />
    <xs:include schemaLocation="../../includes/tennis/coverage.xsd" />
    <xs:include schemaLocation="../../includes/tennis/statistics.xsd" />
    <xs:element name="match_timeline" type="matchTimelineEndpoint" />
    <xs:complexType name="matchTimelineEndpoint">
        <xs:sequence>
            <xs:element type="sportEvent" name="sport_event" minOccurs="1" />
            <xs:element type="sportEventConditions" name="sport_event_conditions"  minOccurs="0" maxOccurs="1"/>
            <xs:element type="sportEventStatus" name="sport_event_status" minOccurs="1" />
            <xs:element type="coverageInfo" name="coverage_info" minOccurs="0" />
            <xs:element type="timeline" name="timeline" minOccurs="0"/>
            <xs:element type="matchStatistics" name="statistics" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
    <xs:complexType name="timelineEvent">
        <xs:attribute type="xs:int" name="id" use="required"/>
        <xs:attribute type="xs:string" name="type" use="required"/>
        <xs:attribute type="xs:dateTime" name="time" use="required"/>
        <xs:attribute type="xs:string" name="period_name" use="optional" />
        <xs:attribute type="xs:string" name="team" use="optional" />
        <xs:attribute type="xs:int" name="home_score" use="optional" />
        <xs:attribute type="xs:int" name="away_score" use="optional" />
        <xs:attribute type="xs:string" name="server" use="optional" />
        <xs:attribute type="xs:int" name="period" use="optional" />
        <xs:attribute type="xs:string" name="reason" use="optional" />
        <xs:attribute type="xs:string" name="result" use="optional" />
        <xs:attribute type="xs:boolean" name="first_serve_fault" use="optional" />
    </xs:complexType>
    <xs:complexType name="timeline">
        <xs:sequence>
            <xs:element type="timelineEvent" name="event" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>