ext/bsa/v1/endpoints/tennis/player_schedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/tennis" xmlns="http://schemas.sportradar.com/sportsapi/v1/tennis" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/tennis/sport_event.xsd" />
    <xs:element name="player_schedule" type="playerScheduleEndpoint" />
    <xs:complexType name="playerScheduleEndpoint">
        <xs:sequence>
            <xs:element type="tennisPlayerExtended" name="player" minOccurs="1" />
            <xs:element type="schedule" name="schedule" minOccurs="1" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
</xs:schema>