ext/bsa/v1/endpoints/tennis/player_results.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/tennis" xmlns="http://schemas.sportradar.com/sportsapi/v1/tennis" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/common/team.xsd" />
    <xs:include schemaLocation="../../includes/tennis/result.xsd" />
    <xs:element name="player_results" type="playerResultsEndpoint" />
    <xs:complexType name="playerResultsEndpoint">
        <xs:sequence>
            <xs:element type="tennisPlayerExtended" name="player" minOccurs="1" />
            <xs:element type="results" name="results" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
</xs:schema>