ext/bsa/v1/includes/cycling/course.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="course">
        <xs:attribute type="xs:double" name="distance" use="required" />
        <xs:attribute type="distanceUnit" name="distance_unit" use="required" />
        <xs:attribute type="xs:string" name="departure_city" use="required" />
        <xs:attribute type="xs:string" name="arrival_city" use="required" />
        <xs:attribute type="classification" name="classification" use="optional" />
    </xs:complexType>
    <xs:simpleType name="distanceUnit">
        <xs:restriction base="xs:string">
            <xs:enumeration value="km" />
            <xs:enumeration value="miles" />
            <xs:enumeration value="meter" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="classification">
        <xs:restriction base="xs:string">
            <xs:enumeration value="individual_time_trial"/>
            <xs:enumeration value="team_time_trial"/>
            <xs:enumeration value="flat"/>
            <xs:enumeration value="medium_mountain"/>
            <xs:enumeration value="high_mountain"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>