ext/bsa/v1/includes/cycling/result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common/urn.xsd" />
    <xs:include schemaLocation="competitor.xsd" />
    <xs:complexType name="result">
        <xs:sequence>
            <xs:element type="competitor" name="competitor" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="time" use="optional"/>
        <xs:attribute type="xs:int" name="time_ranking" use="optional"/>
        <xs:attribute type="xs:int" name="sprint" use="optional" />
        <xs:attribute type="xs:int" name="sprint_ranking" use="optional" />
        <xs:attribute type="xs:string" name="young_rider" use="optional" />
        <xs:attribute type="xs:int" name="young_rider_ranking" use="optional" />
        <xs:attribute type="xs:int" name="climber" use="optional" />
        <xs:attribute type="xs:int" name="climber_ranking" use="optional" />
        <xs:attribute type="xs:boolean" name="did_not_finish" use="optional" />
        <xs:attribute type="xs:boolean" name="did_not_start" use="optional" />
        <xs:attribute type="xs:boolean" name="disqualified" use="optional" />
    </xs:complexType>
    <xs:complexType name="results">
        <xs:sequence>
            <xs:element type="result" name="result" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>