ext/bsa/v1/includes/cycling/stage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common/urn.xsd" />
    <xs:include schemaLocation="course.xsd" />
    <xs:include schemaLocation="race.xsd" />
    <xs:complexType name="stage">
        <xs:sequence>
            <xs:element type="race" name="race" maxOccurs="1" minOccurs="0" />
            <xs:element type="course" name="course" maxOccurs="1" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="stageUrn" name="id" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:date" name="scheduled" use="optional" />
        <xs:attribute type="xs:date" name="scheduled_end" use="optional" />
    </xs:complexType>
    <xs:complexType name="stages">
        <xs:sequence>
            <xs:element type="stage" name="stage" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>