ext/bsa/v1/includes/cycling/tournament.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common/urn.xsd"/>
    <xs:include schemaLocation="../common/sport.xsd" />
    <xs:include schemaLocation="../common/category.xsd" />
    <xs:complexType name="tournament">
        <xs:sequence>
            <xs:element type="sport" name="sport" />
            <xs:element type="category" name="category" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="raceTournamentUrn" name="id" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:date" name="scheduled" use="required" />
        <xs:attribute type="xs:date" name="scheduled_end" use="required" />
    </xs:complexType>
</xs:schema>