ext/bsa/v1/includes/handball/tournament.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common/urn.xsd"/>
    <xs:include schemaLocation="../common/sport.xsd" />
    <xs:include schemaLocation="../common/category.xsd" />
    <xs:include schemaLocation="../common/current_season.xsd" />
    <xs:include schemaLocation="../common/season.xsd" />
    <xs:include schemaLocation="../common/season_coverage_info.xsd" />
    <xs:include schemaLocation="../common/gender.xsd" />
    <xs:complexType name="handballTournament">
        <xs:sequence>
            <xs:element type="sport" name="sport" />
            <xs:element type="category" name="category" minOccurs="0"/>
            <xs:element type="currentSeason" name="current_season" minOccurs="0" maxOccurs="1" />
            <xs:element type="seasonCoverageInfo" name="season_coverage_info" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="tournamentUrn" name="id" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="tournamentUrn" name="parent_id" use="optional" />
        <xs:attribute type="genderType" name="gender" use="required" />
    </xs:complexType>
</xs:schema>