ext/bsa/v1/endpoints/lol/player_profile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/lol" xmlns="http://schemas.sportradar.com/sportsapi/v1/lol" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/common/urn.xsd" />
    <xs:include schemaLocation="../../includes/common/team.xsd" />
    <xs:include schemaLocation="../../includes/common/player.xsd" />
    <xs:element name="player_profile" type="playerProfileEndpoint" />
    <xs:complexType name="playerProfileEndpoint">
        <xs:sequence>
            <xs:element type="playerExtended" name="player" minOccurs="1" maxOccurs="1"/>
            <xs:element type="playerProfileTeams" name="teams" minOccurs="0" maxOccurs="1"/>
            <xs:element type="roles" name="roles" minOccurs="0" maxOccurs="1"/>
            <xs:element type="profileImage" name="image" minOccurs="0" maxOccurs="1"/>
            <xs:element type="socialMediaLinks" name="social_media_links" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
    <xs:complexType name="playerProfileTeams">
        <xs:sequence>
            <xs:element type="team" name="team" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="roles">
        <xs:sequence>
            <xs:element type="role" name="role" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="role">
        <xs:sequence>
            <xs:element type="team" name="team" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="type" use="required"/>
        <xs:attribute type="xs:string" name="active" use="required"/>
        <xs:attribute type="xs:date" name="start_date" use="optional"/>
        <xs:attribute type="xs:date" name="end_date" use="optional"/>
        <xs:attribute type="competitorUrn" name="team_id" use="optional"/>
        <xs:attribute type="xs:string" name="team_name" use="optional"/>
        <xs:attribute type="xs:int" name="jersey_number" use="optional"/>
    </xs:complexType>
    <xs:complexType name="profileImage">
        <xs:attribute type="xs:string" name="url" use="required" />
    </xs:complexType>
    <xs:complexType name="socialMediaLink">
        <xs:attribute type="xs:string" name="type" use="required" />
        <xs:attribute type="xs:string" name="value" use="required" />
    </xs:complexType>
    <xs:complexType name="socialMediaLinks">
        <xs:sequence>
            <xs:element type="socialMediaLink" name="link" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>