ext/bsa/v1/endpoints/lol/team_versus_matches.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/lol" xmlns="http://schemas.sportradar.com/sportsapi/v1/lol" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/lol/sport_event.xsd" />
    <xs:include schemaLocation="../../includes/common/team.xsd"/>
    <xs:include schemaLocation="../../includes/lol/result.xsd" />
    <xs:element name="team_versus_matches" type="teamVersusMatchesEndpoint" />
    <xs:complexType name="teamVersusMatchesEndpoint">
        <xs:sequence>
            <xs:element type="teamVersusTeams" name="teams" />
            <xs:element type="lastMeetings" name="last_meetings" minOccurs="0" maxOccurs="5" />
            <xs:element type="nextMeetings" name="next_meetings" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
    <xs:complexType name="teamVersusTeams">
        <xs:sequence>
            <xs:element type="teamExtended" name="team" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="lastMeetings">
        <xs:sequence>
            <xs:element type="result" name="result" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="nextMeetings">
        <xs:sequence>
            <xs:element type="lolSportEvent" name="sport_event" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>