ext/bsa/v1/includes/oddscomparison/bookmaker.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common/urn.xsd" />
    <xs:complexType name="bookmaker">
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="id" type="bookmakerUrn" />
    </xs:complexType>
</xs:schema>
