ext/bsa/v1/includes/oddscomparison/category.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/common/urn.xsd" />
    <xs:complexType name="category">
        <xs:attribute type="categoryUrn" name="id" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="countryCode" name="country_code" use="optional" />
        <xs:attribute type="sportUrn" name="sport_id" use="optional" />
        <xs:attribute type="xs:string" name="outrights" use="optional" />
    </xs:complexType>
</xs:schema>