ext/bsa/v1/endpoints/historicalnhl/seasons.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/historicalnhl" xmlns="http://schemas.sportradar.com/sportsapi/v1/historicalnhl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/common/season.xsd" />
    <xs:element name="seasons" type="historicalNhlSeasons" />
    <xs:complexType name="historicalNhlSeasons">
        <xs:sequence>
            <xs:element type="seasonExtended" name="season" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
</xs:schema>