ext/bsa/v1/endpoints/historicalnhl/season_players_statistics.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/historicalnhl" xmlns="http://schemas.sportradar.com/sportsapi/v1/historicalnhl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/common/season.xsd" />
    <xs:include schemaLocation="../../includes/common/urn.xsd" />
    <xs:element name="season_players_statistics" type="seasonPlayersStatistics" />
    <xs:complexType name="seasonPlayersStatistics">
        <xs:sequence>
            <xs:element name="stages" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="stage" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="players">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element type="playerType" name="player" maxOccurs="unbounded"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute type="xs:string" name="type"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
    <xs:complexType name="playerType">
        <xs:sequence>
            <xs:element name="statistics">
                <xs:complexType>
                    <xs:attribute type="xs:string" name="assists"/>
                    <xs:attribute type="xs:string" name="assists_per_match"/>
                    <xs:attribute type="xs:string" name="bench_penalties"/>
                    <xs:attribute type="xs:string" name="blocked_attempts"/>
                    <xs:attribute type="xs:string" name="blocked_attempts_per_match"/>
                    <xs:attribute type="xs:string" name="blocked_shots"/>
                    <xs:attribute type="xs:string" name="blocked_shots_per_match"/>
                    <xs:attribute type="xs:string" name="even_strength_3v3_goals"/>
                    <xs:attribute type="xs:string" name="even_strength_3v3_shots"/>
                    <xs:attribute type="xs:string" name="even_strength_4v4_goals"/>
                    <xs:attribute type="xs:string" name="even_strength_4v4_shots"/>
                    <xs:attribute type="xs:string" name="even_strength_5v5_goals"/>
                    <xs:attribute type="xs:string" name="even_strength_5v5_shots"/>
                    <xs:attribute type="xs:string" name="even_strength_assists"/>
                    <xs:attribute type="xs:string" name="even_strength_faceoff_winning_percentage"/>
                    <xs:attribute type="xs:string" name="even_strength_faceoffs"/>
                    <xs:attribute type="xs:string" name="even_strength_faceoffs_lost"/>
                    <xs:attribute type="xs:string" name="even_strength_faceoffs_won"/>
                    <xs:attribute type="xs:string" name="even_strength_goals"/>
                    <xs:attribute type="xs:string" name="even_strength_missed_shots"/>
                    <xs:attribute type="xs:string" name="even_strength_shots_on_goal"/>
                    <xs:attribute type="xs:string" name="faceoff_winning_percentage"/>
                    <xs:attribute type="xs:string" name="faceoffs"/>
                    <xs:attribute type="xs:string" name="faceoffs_lost"/>
                    <xs:attribute type="xs:string" name="faceoffs_won"/>
                    <xs:attribute type="xs:string" name="games_played"/>
                    <xs:attribute type="xs:string" name="giveaways"/>
                    <xs:attribute type="xs:string" name="giveaways_per_match"/>
                    <xs:attribute type="xs:string" name="goals"/>
                    <xs:attribute type="xs:string" name="goals_3v3"/>
                    <xs:attribute type="xs:string" name="goals_3v4"/>
                    <xs:attribute type="xs:string" name="goals_3v5"/>
                    <xs:attribute type="xs:string" name="goals_3v6"/>
                    <xs:attribute type="xs:string" name="goals_4v3"/>
                    <xs:attribute type="xs:string" name="goals_4v4"/>
                    <xs:attribute type="xs:string" name="goals_4v5"/>
                    <xs:attribute type="xs:string" name="goals_4v6"/>
                    <xs:attribute type="xs:string" name="goals_5v3"/>
                    <xs:attribute type="xs:string" name="goals_5v4"/>
                    <xs:attribute type="xs:string" name="goals_5v5"/>
                    <xs:attribute type="xs:string" name="goals_5v6"/>
                    <xs:attribute type="xs:string" name="goals_6v3"/>
                    <xs:attribute type="xs:string" name="goals_6v4"/>
                    <xs:attribute type="xs:string" name="goals_6v5"/>
                    <xs:attribute type="xs:string" name="goals_against_in_first_period"/>
                    <xs:attribute type="xs:string" name="goals_against_in_second_period"/>
                    <xs:attribute type="xs:string" name="goals_against_in_third_period"/>
                    <xs:attribute type="xs:string" name="goals_first_period"/>
                    <xs:attribute type="xs:string" name="goals_per_match"/>
                    <xs:attribute type="xs:string" name="goals_second_period"/>
                    <xs:attribute type="xs:string" name="goals_third_period"/>
                    <xs:attribute type="xs:string" name="goaltending_empty_net_even_strength_goals_against"/>
                    <xs:attribute type="xs:string" name="goaltending_empty_net_power_play_goals_against"/>
                    <xs:attribute type="xs:string" name="goaltending_empty_net_short_handed_goals_against"/>
                    <xs:attribute type="xs:string" name="goaltending_empty_net_total_goals_against"/>
                    <xs:attribute type="xs:string" name="goaltending_empty_net_total_shots_against"/>
                    <xs:attribute type="xs:string" name="goaltending_even_strength_goals_against"/>
                    <xs:attribute type="xs:string" name="goaltending_even_strength_saves"/>
                    <xs:attribute type="xs:string" name="goaltending_even_strength_saves_percentage"/>
                    <xs:attribute type="xs:string" name="goaltending_even_strength_shots_against"/>
                    <xs:attribute type="xs:string" name="goaltending_goals_against_per_match"/>
                    <xs:attribute type="xs:string" name="goaltending_penalty_goals_against"/>
                    <xs:attribute type="xs:string" name="goaltending_penalty_saves"/>
                    <xs:attribute type="xs:string" name="goaltending_penalty_saves_percentage"/>
                    <xs:attribute type="xs:string" name="goaltending_penalty_shots_against"/>
                    <xs:attribute type="xs:string" name="goaltending_power_play_goals_against"/>
                    <xs:attribute type="xs:string" name="goaltending_power_play_saves"/>
                    <xs:attribute type="xs:string" name="goaltending_power_play_saves_percentage"/>
                    <xs:attribute type="xs:string" name="goaltending_power_play_shots_against"/>
                    <xs:attribute type="xs:string" name="goaltending_short_handed_goals_against"/>
                    <xs:attribute type="xs:string" name="goaltending_short_handed_saves"/>
                    <xs:attribute type="xs:string" name="goaltending_short_handed_saves_percentage"/>
                    <xs:attribute type="xs:string" name="goaltending_short_handed_shots_against"/>
                    <xs:attribute type="xs:string" name="goaltending_shots_against_per_match"/>
                    <xs:attribute type="xs:string" name="goaltending_time_on_ice"/>
                    <xs:attribute type="xs:string" name="goaltending_total_goals_against"/>
                    <xs:attribute type="xs:string" name="goaltending_total_losses"/>
                    <xs:attribute type="xs:string" name="goaltending_total_overtime_losses"/>
                    <xs:attribute type="xs:string" name="goaltending_total_saves"/>
                    <xs:attribute type="xs:string" name="goaltending_total_saves_percentage"/>
                    <xs:attribute type="xs:string" name="goaltending_total_shots_against"/>
                    <xs:attribute type="xs:string" name="goaltending_total_shutouts"/>
                    <xs:attribute type="xs:string" name="goaltending_total_total_goals_against"/>
                    <xs:attribute type="xs:string" name="goaltending_total_total_shots_against"/>
                    <xs:attribute type="xs:string" name="goaltending_total_wins"/>
                    <xs:attribute type="xs:string" name="hits"/>
                    <xs:attribute type="xs:string" name="hits_per_match"/>
                    <xs:attribute type="xs:string" name="home_games_played"/>
                    <xs:attribute type="xs:string" name="penalties_match"/>
                    <xs:attribute type="xs:string" name="home_opponents_power_play_goals"/>
                    <xs:attribute type="xs:string" name="home_power_play_goals"/>
                    <xs:attribute type="xs:string" name="home_power_play_opportunities"/>
                    <xs:attribute type="xs:string" name="home_power_play_percentage"/>
                    <xs:attribute type="xs:string" name="home_times_short_handed"/>
                    <xs:attribute type="xs:string" name="losses_after_first_period_lead"/>
                    <xs:attribute type="xs:string" name="losses_after_first_period_trail"/>
                    <xs:attribute type="xs:string" name="losses_after_second_period_lead"/>
                    <xs:attribute type="xs:string" name="losses_after_second_period_trail"/>
                    <xs:attribute type="xs:string" name="losses_even_shots"/>
                    <xs:attribute type="xs:string" name="losses_one_goal_games"/>
                    <xs:attribute type="xs:string" name="losses_opponent_scored_first"/>
                    <xs:attribute type="xs:string" name="losses_outshot_by_opponent"/>
                    <xs:attribute type="xs:string" name="losses_outshot_opponent"/>
                    <xs:attribute type="xs:string" name="losses_scored_first"/>
                    <xs:attribute type="xs:string" name="losses_three_goal_games"/>
                    <xs:attribute type="xs:string" name="losses_total"/>
                    <xs:attribute type="xs:string" name="losses_two_goal_games"/>
                    <xs:attribute type="xs:string" name="missed_shots"/>
                    <xs:attribute type="xs:string" name="missed_shots_per_match"/>
                    <xs:attribute type="xs:string" name="opponents_3v3_goals"/>
                    <xs:attribute type="xs:string" name="opponents_3v3_shots"/>
                    <xs:attribute type="xs:string" name="opponents_3v4_goals"/>
                    <xs:attribute type="xs:string" name="opponents_3v4_shots"/>
                    <xs:attribute type="xs:string" name="opponents_3v5_goals"/>
                    <xs:attribute type="xs:string" name="opponents_3v5_shots"/>
                    <xs:attribute type="xs:string" name="opponents_3v6_goals"/>
                    <xs:attribute type="xs:string" name="opponents_4v3_goals"/>
                    <xs:attribute type="xs:string" name="opponents_4v3_opportunities"/>
                    <xs:attribute type="xs:string" name="opponents_4v3_shots"/>
                    <xs:attribute type="xs:string" name="opponents_4v4_goals"/>
                    <xs:attribute type="xs:string" name="opponents_4v4_shots"/>
                    <xs:attribute type="xs:string" name="opponents_4v5_goals"/>
                    <xs:attribute type="xs:string" name="opponents_4v5_shots"/>
                    <xs:attribute type="xs:string" name="opponents_4v6_goals"/>
                    <xs:attribute type="xs:string" name="opponents_5v3_goals"/>
                    <xs:attribute type="xs:string" name="opponents_5v3_opportunities"/>
                    <xs:attribute type="xs:string" name="opponents_5v3_shots"/>
                    <xs:attribute type="xs:string" name="opponents_5v4_goals"/>
                    <xs:attribute type="xs:string" name="opponents_5v4_opportunities"/>
                    <xs:attribute type="xs:string" name="opponents_5v4_shots"/>
                    <xs:attribute type="xs:string" name="opponents_5v5_goals"/>
                    <xs:attribute type="xs:string" name="opponents_5v5_shots"/>
                    <xs:attribute type="xs:string" name="opponents_5v6_goals"/>
                    <xs:attribute type="xs:string" name="opponents_6v3_goals"/>
                    <xs:attribute type="xs:string" name="opponents_6v4_goals"/>
                    <xs:attribute type="xs:string" name="opponents_6v5_goals"/>
                    <xs:attribute type="xs:string" name="opponents_assists"/>
                    <xs:attribute type="xs:string" name="opponents_assists_per_match"/>
                    <xs:attribute type="xs:string" name="opponents_blocked_attempts"/>
                    <xs:attribute type="xs:string" name="opponents_blocked_attempts_per_match"/>
                    <xs:attribute type="xs:string" name="opponents_blocked_shots"/>
                    <xs:attribute type="xs:string" name="opponents_blocked_shots_per_match"/>
                    <xs:attribute type="xs:string" name="opponents_even_strength_assists"/>
                    <xs:attribute type="xs:string" name="opponents_even_strength_faceoff_winning_percentage"/>
                    <xs:attribute type="xs:string" name="opponents_even_strength_faceoffs"/>
                    <xs:attribute type="xs:string" name="opponents_even_strength_faceoffs_lost"/>
                    <xs:attribute type="xs:string" name="opponents_even_strength_faceoffs_won"/>
                    <xs:attribute type="xs:string" name="opponents_even_strength_goals"/>
                    <xs:attribute type="xs:string" name="opponents_even_strength_missed_shots"/>
                    <xs:attribute type="xs:string" name="opponents_even_strength_shots_on_goal"/>
                    <xs:attribute type="xs:string" name="opponents_faceoff_winning_percentage"/>
                    <xs:attribute type="xs:string" name="opponents_faceoffs"/>
                    <xs:attribute type="xs:string" name="opponents_faceoffs_lost"/>
                    <xs:attribute type="xs:string" name="opponents_faceoffs_won"/>
                    <xs:attribute type="xs:string" name="opponents_games_played"/>
                    <xs:attribute type="xs:string" name="opponents_giveaways"/>
                    <xs:attribute type="xs:string" name="opponents_giveaways_per_match"/>
                    <xs:attribute type="xs:string" name="opponents_goals"/>
                    <xs:attribute type="xs:string" name="opponents_goals_per_match"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_empty_net_even_strength_goals_against"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_empty_net_power_play_goals_against"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_empty_net_short_handed_goals_against"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_empty_net_total_goals_against"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_empty_net_total_shots_against"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_even_strength_goals_against"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_even_strength_saves"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_even_strength_saves_percentage"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_even_strength_shots_against"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_goals_against_per_match"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_penalty_goals_against"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_penalty_saves"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_penalty_saves_percentage"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_penalty_shots_against"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_power_play_goals_against"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_power_play_saves"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_power_play_saves_percentage"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_power_play_shots_against"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_short_handed_goals_against"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_short_handed_saves"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_short_handed_saves_percentage"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_short_handed_shots_against"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_shots_against_per_match"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_total_goals_against"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_total_losses"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_total_overtime_losses"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_total_saves"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_total_saves_percentage"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_total_shots_against"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_total_shutouts"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_total_total_goals_against"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_total_total_shots_against"/>
                    <xs:attribute type="xs:string" name="opponents_goaltending_total_wins"/>
                    <xs:attribute type="xs:string" name="opponents_hits"/>
                    <xs:attribute type="xs:string" name="opponents_hits_per_match"/>
                    <xs:attribute type="xs:string" name="opponents_missed_shots"/>
                    <xs:attribute type="xs:string" name="opponents_missed_shots_per_match"/>
                    <xs:attribute type="xs:string" name="opponents_overtime_goals"/>
                    <xs:attribute type="xs:string" name="opponents_penalties"/>
                    <xs:attribute type="xs:string" name="opponents_penalties_per_match"/>
                    <xs:attribute type="xs:string" name="opponents_penalty_goals"/>
                    <xs:attribute type="xs:string" name="opponents_penalty_minutes"/>
                    <xs:attribute type="xs:string" name="opponents_penalty_minutes_per_match"/>
                    <xs:attribute type="xs:string" name="opponents_penalty_missed_shots"/>
                    <xs:attribute type="xs:string" name="opponents_penalty_shots_on_goal"/>
                    <xs:attribute type="xs:string" name="opponents_plus_minus"/>
                    <xs:attribute type="xs:string" name="opponents_points"/>
                    <xs:attribute type="xs:string" name="opponents_points_per_match"/>
                    <xs:attribute type="xs:string" name="opponents_power_play_assists"/>
                    <xs:attribute type="xs:string" name="opponents_power_play_faceoff_winning_percentage"/>
                    <xs:attribute type="xs:string" name="opponents_power_play_faceoffs"/>
                    <xs:attribute type="xs:string" name="opponents_power_play_faceoffs_lost"/>
                    <xs:attribute type="xs:string" name="opponents_power_play_faceoffs_won"/>
                    <xs:attribute type="xs:string" name="opponents_power_play_goals"/>
                    <xs:attribute type="xs:string" name="opponents_power_play_missed_shots"/>
                    <xs:attribute type="xs:string" name="opponents_power_play_opportunities"/>
                    <xs:attribute type="xs:string" name="opponents_power_play_shots_on_goal"/>
                    <xs:attribute type="xs:string" name="opponents_power_plays"/>
                    <xs:attribute type="xs:string" name="opponents_shooting_percentage"/>
                    <xs:attribute type="xs:string" name="opponents_shootout_goals"/>
                    <xs:attribute type="xs:string" name="opponents_shootout_goals_against"/>
                    <xs:attribute type="xs:string" name="opponents_shootout_missed_shots"/>
                    <xs:attribute type="xs:string" name="opponents_shootout_saves"/>
                    <xs:attribute type="xs:string" name="opponents_shootout_saves_percentage"/>
                    <xs:attribute type="xs:string" name="opponents_shootout_shots_against"/>
                    <xs:attribute type="xs:string" name="opponents_shootout_shots_on_goal"/>
                    <xs:attribute type="xs:string" name="opponents_short_handed_assists"/>
                    <xs:attribute type="xs:string" name="opponents_short_handed_faceoff_winning_percentage"/>
                    <xs:attribute type="xs:string" name="opponents_short_handed_faceoffs"/>
                    <xs:attribute type="xs:string" name="opponents_short_handed_faceoffs_lost"/>
                    <xs:attribute type="xs:string" name="opponents_short_handed_faceoffs_won"/>
                    <xs:attribute type="xs:string" name="opponents_short_handed_goals"/>
                    <xs:attribute type="xs:string" name="opponents_short_handed_missed_shots"/>
                    <xs:attribute type="xs:string" name="opponents_short_handed_opportunities"/>
                    <xs:attribute type="xs:string" name="opponents_short_handed_shots_on_goal"/>
                    <xs:attribute type="xs:string" name="opponents_shots_on_goal"/>
                    <xs:attribute type="xs:string" name="opponents_shots_on_goal_per_match"/>
                    <xs:attribute type="xs:string" name="opponents_takeaways"/>
                    <xs:attribute type="xs:string" name="opponents_takeaways_per_match"/>
                    <xs:attribute type="xs:string" name="opponents_team_penalties"/>
                    <xs:attribute type="xs:string" name="opponents_team_penalties_per_match"/>
                    <xs:attribute type="xs:string" name="opponents_team_penalty_minutes"/>
                    <xs:attribute type="xs:string" name="opponents_team_penalty_minutes_per_match"/>
                    <xs:attribute type="xs:string" name="opponents_team_time_on_ice"/>
                    <xs:attribute type="xs:string" name="opponents_winning_goals"/>
                    <xs:attribute type="xs:string" name="overtime_goals"/>
                    <xs:attribute type="xs:string" name="overtime_loss_one_goal_game"/>
                    <xs:attribute type="xs:string" name="overtime_losses_after_first_period_lead"/>
                    <xs:attribute type="xs:string" name="overtime_losses_after_first_period_trail"/>
                    <xs:attribute type="xs:string" name="overtime_losses_after_second_period_lead"/>
                    <xs:attribute type="xs:string" name="overtime_losses_after_second_period_trail"/>
                    <xs:attribute type="xs:string" name="overtime_losses_even_shots"/>
                    <xs:attribute type="xs:string" name="overtime_losses_opponent_scored_first"/>
                    <xs:attribute type="xs:string" name="overtime_losses_outshot_by_opponent"/>
                    <xs:attribute type="xs:string" name="overtime_losses_outshot_opponent"/>
                    <xs:attribute type="xs:string" name="overtime_losses_scored_first"/>
                    <xs:attribute type="xs:string" name="overtime_losses_total"/>
                    <xs:attribute type="xs:string" name="penalties"/>
                    <xs:attribute type="xs:string" name="penalties_game_misconduct"/>
                    <xs:attribute type="xs:string" name="penalties_major"/>
                    <xs:attribute type="xs:string" name="penalties_game"/>
                    <xs:attribute type="xs:string" name="penalties_minor"/>
                    <xs:attribute type="xs:string" name="penalties_misconduct"/>
                    <xs:attribute type="xs:string" name="penalties_per_match"/>
                    <xs:attribute type="xs:string" name="penalty_goals"/>
                    <xs:attribute type="xs:string" name="penalty_kill_percentage"/>
                    <xs:attribute type="xs:string" name="penalty_minutes"/>
                    <xs:attribute type="xs:string" name="penalty_minutes_per_match"/>
                    <xs:attribute type="xs:string" name="penalty_missed_shots"/>
                    <xs:attribute type="xs:string" name="penalty_shots_on_goal"/>
                    <xs:attribute type="xs:string" name="plus_minus"/>
                    <xs:attribute type="xs:string" name="point_percentage"/>
                    <xs:attribute type="xs:string" name="points"/>
                    <xs:attribute type="xs:string" name="points_per_match"/>
                    <xs:attribute type="xs:string" name="power_play_4v3_goals"/>
                    <xs:attribute type="xs:string" name="power_play_4v3_opportunities"/>
                    <xs:attribute type="xs:string" name="power_play_4v3_shots"/>
                    <xs:attribute type="xs:string" name="power_play_5v3_goals"/>
                    <xs:attribute type="xs:string" name="power_play_5v3_opportunities"/>
                    <xs:attribute type="xs:string" name="power_play_5v3_shots"/>
                    <xs:attribute type="xs:string" name="power_play_5v4_goals"/>
                    <xs:attribute type="xs:string" name="power_play_5v4_opportunities"/>
                    <xs:attribute type="xs:string" name="power_play_5v4_shots"/>
                    <xs:attribute type="xs:string" name="power_play_assists"/>
                    <xs:attribute type="xs:string" name="power_play_faceoff_winning_percentage"/>
                    <xs:attribute type="xs:string" name="power_play_faceoffs"/>
                    <xs:attribute type="xs:string" name="power_play_faceoffs_lost"/>
                    <xs:attribute type="xs:string" name="power_play_faceoffs_won"/>
                    <xs:attribute type="xs:string" name="power_play_goals"/>
                    <xs:attribute type="xs:string" name="power_play_missed_shots"/>
                    <xs:attribute type="xs:string" name="power_play_opportunities"/>
                    <xs:attribute type="xs:string" name="power_play_percentage"/>
                    <xs:attribute type="xs:string" name="power_play_shots_on_goal"/>
                    <xs:attribute type="xs:string" name="power_plays"/>
                    <xs:attribute type="xs:string" name="regulation_plus_overtime_wins"/>
                    <xs:attribute type="xs:string" name="road_games_played"/>
                    <xs:attribute type="xs:string" name="road_penalty_kill_percentage"/>
                    <xs:attribute type="xs:string" name="road_power_play_goals"/>
                    <xs:attribute type="xs:string" name="road_power_play_goals_against"/>
                    <xs:attribute type="xs:string" name="road_power_play_opportunities"/>
                    <xs:attribute type="xs:string" name="road_power_play_percentage"/>
                    <xs:attribute type="xs:string" name="road_short_handed_total"/>
                    <xs:attribute type="xs:string" name="shooting_percentage"/>
                    <xs:attribute type="xs:string" name="shootout_games_won"/>
                    <xs:attribute type="xs:string" name="shootout_goals"/>
                    <xs:attribute type="xs:string" name="shootout_goals_against"/>
                    <xs:attribute type="xs:string" name="shootout_missed_shots"/>
                    <xs:attribute type="xs:string" name="shootout_saves"/>
                    <xs:attribute type="xs:string" name="shootout_saves_percentage"/>
                    <xs:attribute type="xs:string" name="shootout_shots_against"/>
                    <xs:attribute type="xs:string" name="shootout_shots_on_goal"/>
                    <xs:attribute type="xs:string" name="short_handed_3v4_goals"/>
                    <xs:attribute type="xs:string" name="short_handed_3v4_shots"/>
                    <xs:attribute type="xs:string" name="short_handed_3v5_goals"/>
                    <xs:attribute type="xs:string" name="short_handed_3v5_shots"/>
                    <xs:attribute type="xs:string" name="short_handed_4v5_goals"/>
                    <xs:attribute type="xs:string" name="short_handed_4v5_shots"/>
                    <xs:attribute type="xs:string" name="short_handed_assists"/>
                    <xs:attribute type="xs:string" name="short_handed_faceoff_winning_percentage"/>
                    <xs:attribute type="xs:string" name="short_handed_faceoffs"/>
                    <xs:attribute type="xs:string" name="short_handed_faceoffs_lost"/>
                    <xs:attribute type="xs:string" name="short_handed_faceoffs_won"/>
                    <xs:attribute type="xs:string" name="short_handed_goals"/>
                    <xs:attribute type="xs:string" name="short_handed_missed_shots"/>
                    <xs:attribute type="xs:string" name="short_handed_opportunities"/>
                    <xs:attribute type="xs:string" name="short_handed_shots_on_goal"/>
                    <xs:attribute type="xs:string" name="short_handed_total"/>
                    <xs:attribute type="xs:string" name="shots_on_goal"/>
                    <xs:attribute type="xs:string" name="shots_on_goal_per_match"/>
                    <xs:attribute type="xs:string" name="takeaways"/>
                    <xs:attribute type="xs:string" name="takeaways_per_match"/>
                    <xs:attribute type="xs:string" name="team_penalties"/>
                    <xs:attribute type="xs:string" name="team_penalties_per_match"/>
                    <xs:attribute type="xs:string" name="team_penalty_minutes"/>
                    <xs:attribute type="xs:string" name="team_penalty_minutes_per_match"/>
                    <xs:attribute type="xs:string" name="ties_even_shots"/>
                    <xs:attribute type="xs:string" name="ties_outshot_by_opponent"/>
                    <xs:attribute type="xs:string" name="ties_outshot_opponent"/>
                    <xs:attribute type="xs:string" name="ties_total"/>
                    <xs:attribute type="xs:string" name="winning_goals"/>
                    <xs:attribute type="xs:string" name="wins_after_first_period_lead"/>
                    <xs:attribute type="xs:string" name="wins_after_first_period_lead_percentage"/>
                    <xs:attribute type="xs:string" name="wins_after_first_period_trail"/>
                    <xs:attribute type="xs:string" name="wins_after_first_period_trail_percentage"/>
                    <xs:attribute type="xs:string" name="wins_after_second_period_lead"/>
                    <xs:attribute type="xs:string" name="wins_after_second_period_lead_percentage"/>
                    <xs:attribute type="xs:string" name="wins_after_second_period_trail"/>
                    <xs:attribute type="xs:string" name="wins_after_second_period_trail_percentage"/>
                    <xs:attribute type="xs:string" name="wins_even_shots"/>
                    <xs:attribute type="xs:string" name="wins_one_goal_game_percentage"/>
                    <xs:attribute type="xs:string" name="wins_one_goal_games"/>
                    <xs:attribute type="xs:string" name="wins_opponent_scored_first"/>
                    <xs:attribute type="xs:string" name="wins_opponent_scored_first_percentage"/>
                    <xs:attribute type="xs:string" name="wins_outshot_by_opponents"/>
                    <xs:attribute type="xs:string" name="wins_outshot_opponent"/>
                    <xs:attribute type="xs:string" name="wins_scored_first"/>
                    <xs:attribute type="xs:string" name="wins_scored_first_percentage"/>
                    <xs:attribute type="xs:string" name="wins_three_goal_game_percentage"/>
                    <xs:attribute type="xs:string" name="wins_three_goal_games"/>
                    <xs:attribute type="xs:string" name="wins_total"/>
                    <xs:attribute type="xs:string" name="wins_two_goal_game_percentage"/>
                    <xs:attribute type="xs:string" name="wins_two_goal_games"/>
                    <xs:attribute type="xs:string" name="games_scratched"/>
                    <xs:attribute type="xs:string" name="games_started"/>
                    <xs:attribute type="xs:string" name="games_with_overtime"/>
                    <xs:attribute type="xs:string" name="goals_against_average"/>
                    <xs:attribute type="xs:string" name="goaltending_ranking_power_play_goals_against"/>
                    <xs:attribute type="xs:string" name="goaltending_ranking_power_play_saves"/>
                    <xs:attribute type="xs:string" name="goaltending_ranking_power_play_saves_percentage"/>
                    <xs:attribute type="xs:string" name="goaltending_ranking_power_play_shots_against"/>
                    <xs:attribute type="xs:string" name="goaltending_ranking_short_handed_goals_against"/>
                    <xs:attribute type="xs:string" name="goaltending_ranking_short_handed_saves"/>
                    <xs:attribute type="xs:string" name="goaltending_ranking_short_handed_saves_percentage"/>
                    <xs:attribute type="xs:string" name="goaltending_ranking_short_handed_shots_against"/>
                    <xs:attribute type="xs:string" name="goaltending_ranking_total_average_goals_against"/>
                    <xs:attribute type="xs:string" name="goaltending_ranking_total_games_played"/>
                    <xs:attribute type="xs:string" name="goaltending_ranking_total_goals_against"/>
                    <xs:attribute type="xs:string" name="goaltending_ranking_total_losses"/>
                    <xs:attribute type="xs:string" name="goaltending_ranking_total_overtime_losses"/>
                    <xs:attribute type="xs:string" name="goaltending_ranking_total_saves"/>
                    <xs:attribute type="xs:string" name="goaltending_ranking_total_saves_percentage"/>
                    <xs:attribute type="xs:string" name="goaltending_ranking_total_shots_against"/>
                    <xs:attribute type="xs:string" name="goaltending_ranking_total_shutouts"/>
                    <xs:attribute type="xs:string" name="goaltending_ranking_total_wins"/>
                    <xs:attribute type="xs:string" name="goaltending_shootout_goals_against"/>
                    <xs:attribute type="xs:string" name="goaltending_shootout_saves"/>
                    <xs:attribute type="xs:string" name="goaltending_shootout_saves_percentage"/>
                    <xs:attribute type="xs:string" name="goaltending_shootout_shots_against"/>
                    <xs:attribute type="xs:string" name="goaltending_total_average_goals_against"/>
                    <xs:attribute type="xs:string" name="goaltending_total_games_played"/>
                    <xs:attribute type="xs:string" name="number_of_shifts"/>
                    <xs:attribute type="xs:string" name="offense_ranking_assists"/>
                    <xs:attribute type="xs:string" name="offense_ranking_faceoffs_won"/>
                    <xs:attribute type="xs:string" name="offense_ranking_games_played"/>
                    <xs:attribute type="xs:string" name="offense_ranking_goals"/>
                    <xs:attribute type="xs:string" name="offense_ranking_goals_per_match"/>
                    <xs:attribute type="xs:string" name="offense_ranking_plus_minus"/>
                    <xs:attribute type="xs:string" name="offense_ranking_points"/>
                    <xs:attribute type="xs:string" name="offense_ranking_points_per_match"/>
                    <xs:attribute type="xs:string" name="offense_ranking_power_play_assists"/>
                    <xs:attribute type="xs:string" name="offense_ranking_power_play_goals"/>
                    <xs:attribute type="xs:string" name="offense_ranking_power_play_points"/>
                    <xs:attribute type="xs:string" name="offense_ranking_power_play_shots_on_goal"/>
                    <xs:attribute type="xs:string" name="offense_ranking_shootout_goals"/>
                    <xs:attribute type="xs:string" name="offense_ranking_short_handed_assists"/>
                    <xs:attribute type="xs:string" name="offense_ranking_short_handed_goals"/>
                    <xs:attribute type="xs:string" name="offense_ranking_short_handed_points"/>
                    <xs:attribute type="xs:string" name="offense_ranking_short_handed_shots_on_goal"/>
                    <xs:attribute type="xs:string" name="offense_ranking_shots_on_goal"/>
                    <xs:attribute type="xs:string" name="offense_ranking_winning_goals"/>
                    <xs:attribute type="xs:string" name="power_play_points"/>
                    <xs:attribute type="xs:string" name="short_handed_points"/>
                    <xs:attribute type="xs:string" name="shots_percentage"/>
                    <xs:attribute type="xs:string" name="time_on_ice_even_strength"/>
                    <xs:attribute type="xs:string" name="time_on_ice_per_match"/>
                    <xs:attribute type="xs:string" name="time_on_ice_power_play"/>
                    <xs:attribute type="xs:string" name="time_on_ice_shifts"/>
                    <xs:attribute type="xs:string" name="time_on_ice_shifts_per_match"/>
                    <xs:attribute type="xs:string" name="time_on_ice_short_handed"/>
                    <xs:attribute type="xs:string" name="time_on_ice_total"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="playerUrn" name="id"/>
    </xs:complexType>
</xs:schema>