ext/bsa/v1/endpoints/soccer/match_funfacts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/soccer" xmlns="http://schemas.sportradar.com/sportsapi/v1/soccer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/common/sport_event.xsd" />
    <xs:element name="match_funfacts" type="matchFunFactsEndpoint" />
    <xs:complexType name="matchFunFactsEndpoint">
        <xs:sequence>
            <xs:element type="sportEvent" name="sport_event" />
            <xs:element type="funFacts" name="facts" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
    <xs:complexType name="funFacts">
        <xs:sequence>
            <xs:element type="funFact" name="fact" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="funFact">
        <xs:attribute type="xs:string" name="statement" use="required"/>
    </xs:complexType>
</xs:schema>