ext/bsa/v1/endpoints/soccer/team_mappings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/soccer" xmlns="http://schemas.sportradar.com/sportsapi/v1/soccer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/common/urn.xsd" />
    <xs:element name="team_mappings" type="teamMappingsEndpoint" />
    <xs:complexType name="teamMappingsEndpoint">
        <xs:sequence>
            <xs:element type="v2v3TeamMappings" name="mappings" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
    <xs:complexType name="v2v3TeamMappings">
        <xs:sequence>
            <xs:element name="mapping" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="v2_id" type="xs:string"/>
                    <xs:attribute name="v3_id" type="competitorUrn" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>