ext/bsa/v1/endpoints/soccer/tournament_live_standings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/soccer" xmlns="http://schemas.sportradar.com/sportsapi/v1/soccer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/common/urn.xsd" />
    <xs:include schemaLocation="../../includes/common/tournament.xsd" />
    <xs:include schemaLocation="../../includes/soccer/standings.xsd" />
    <xs:element name="tournament_live_standings" type="tournamentLiveStandings" />
    <xs:complexType name="tournamentLiveStandings">
        <xs:sequence>
            <xs:element type="tournamentExtended" name="tournament" />
            <xs:element type="seasonExtended" name="season" />
            <xs:element type="standings" name="standings" maxOccurs="3" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="generated_at"/>
    </xs:complexType>
</xs:schema>