ext/bsa/v1/endpoints/soccer/tournament_seasons.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/soccer" xmlns="http://schemas.sportradar.com/sportsapi/v1/soccer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/common/season.xsd" />
    <xs:include schemaLocation="../../includes/common/tournament.xsd" />
    <xs:element name="tournament_seasons" type="tournamentSeasons" />
    <xs:complexType name="tournamentSeasons">
        <xs:sequence>
            <xs:element type="tournament" name="tournament" minOccurs="1" maxOccurs="1" />
            <xs:element type="seasons" name="seasons" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
    <xs:complexType name="seasons">
        <xs:sequence>
            <xs:element type="seasonExtended" name="season" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>